<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:rsf="http://ponder.org.uk/rsf" xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

   <title>Assignments</title>

	<script type="text/javascript" language="JavaScript" src="/library/js/headscripts.js"></script>
	<!-- vm/editor/FCKeditor/sakai_header.vm -->
	<script type="text/javascript" src="/library/editor/FCKeditor/fckeditor.js"></script> 

   <link href="tool_base.css" type="text/css" rel="stylesheet" media="all"/>   
	<link href="tool.css" type="text/css" rel="stylesheet" media="all"/>
	<link href="assignmentsv4.css" type="text/css" rel="stylesheet" media="all"/>

</head>

<body>

<div class="portletBody">

	<h3>Assignment List (Student View)</h3>
	<p class="instruction">Select an assignment to view details, start working or edit your previous work.</p>

	<div class="listNav">
		<div  class="instruction">Viewing 1 - 2 of 2 items</div>
		<form name="" class="inlineForm"><input type="submit" name="" value="|&lt;" disabled="disabled"/></form>
		<form name="" class="inlineForm"><input type="submit" name="" value="&lt;" disabled="disabled" /></form>
		<form name="" class="inlineForm" method="post" action="" value="" />
			<label for="" class="skip">Press Enter, then use alt + up and down arrows to scroll through menu</label>
			<select id="" name="">
				<option value="5" >Show 5 items</option>
				<option value="10" >Show 10 items</option>
				<option value="20" >Show 20 items</option>
				<option value="50" >Show 50 items</option>
				<option value="100" >Show 100 items</option>
				<option value="200"  selected="selected" >Show 200 items</option>
			</select>
		</form>
		<form name="" class="inlineForm"><input type="submit" name="" value="&gt;" disabled="disabled" /></form>
		<form name="" class="inlineForm"><input type="submit" name="" value="&gt;|" disabled="disabled" /></form>
	</div>

	<table class="listHier lines">
		<tr> 
			<th class="attach">&nbsp;</th>
			<th id="title">
				<a href="#" title="Sort by title">Assignment</a>
			</th>
			<th id="">
				<a href="#" title="Sort by audience">For</a>
			</th>
			<th id="">
				<a href="#" title="Sort by status">Status</a>
			</th>
			<th id="">
				<a href="#"  title="Sort by section">Open</a>
			</th>
			<th id="dueDate">
				<a href="#" title="Sort by due date">Due<img src="bullet_arrow_down.png" alt="Sort order" width="16" height="16" align="absmiddle" /></a>
			</th>
		</tr>


		<tr> 
			<td headers="attachments" class="attach"><img src="attach.png" width="16" height="16" border="0" /></td>
			<td headers="title">
			<h4><a href="">Homework Example 2</a></h4>
			</td>
			<td>Group 1, Group 2</td>
			<td>Not Started</td>
			<td>Sep 24, 2007 11:00 am</td>
			<td>Oct 1, 2007 6:00 pm</td>
		</tr>


		<tr> 
			<td headers="attachments" class="attach"></td>
			<td headers="title">
			<h4><a href="">Homework Example 1</a></h4>
			</td>
			<td>Site</td>
			<td>Started</td>
			<td>Sep 24, 2007 11:00 am</td>
			<td>Oct 1, 2007 6:00 pm</td>
		</tr>
	</table>

</div>
</body>
</html>