<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:rsf="http://ponder.org.uk/rsf" xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

   <title rsf:id="msg=assignment2.title">Assignments</title>
    <link href="/library/skin/tool_base.css" type="text/css" rel="stylesheet" media="all"/>
    <link href="/library/skin/default/tool.css" type="text/css" rel="stylesheet" media="all"/>
	<link href="/sakai-assignment2-tool/content/css/assignmentsv4.css" type="text/css" rel="stylesheet" media="all" />
</head>

<body>
<!--  everything outside of rsf:id="page:" is set in Layout.html using outerPageTemplates -->

<div rsf:id="page:" class="portletBody">
	
	<ul class="breadCrumb">
		<li><a rsf:id="breadcrumb">Assignment List</a></li>
		<li rsf:id="last_breadcrumb" class="lastCrumb">Add Assignment</li>
	</ul>
	

	<div class="generalErrors">
		<ul rsf:id="message-for:*" style="margin:0px;">
			<li>Message for user here</li>
		</ul>
	</div>
	
	<h2 rsf:id="msg=assignment2.assignment_add.title">Add Assignment Title</h2>
	<p rsf:id="instructions" class="instruction">Complete the form and choose an action below. <span class="reqStar">*</span> Indicates required information.</p>

	<form rsf:id="assignment_form">
	
	<fieldset rsf:id="access-selection-area">
		<legend rsf:id="access_legend">Access</legend>
		<ol>
			<li>
				<span rsf:id="access_select" />
				<fieldset>
					<ol>
						<li rsf:id="access_row:">
							<input rsf:id="access_choice" id="access_choice" type="radio" />
							<label for="access_choice" rsf:id="access_label">Display to site</label>
						</li>
						<li id="groups_table_li" class="indent">
							<table id="groupTable" class="listHier lines" cellpadding="0" cellspacing="0" border="0">
								<tr>
									<th><input type="checkbox" title="Select all" onclick="toggle_group_checkboxes(this)" /></th>
									<th>Title</th>
									<th>Description</th>
								</tr>
								<tr rsf:id="groups_row:">
									<td>
										<input rsf:id="group_check" type="checkbox" />
									</td>
									<td>
										<label rsf:id="group_label">Blue Cohort</label>	
									</td>
									<td rsf:id="group_description">Group Description</td>
								</tr>
							</table></li>
					</ol>
				</fieldset>
			</li>
		</ol>
	</fieldset>
	
	<fieldset>
		<legend rsf:id="msg=assignment2.assignment_add.assignment_details_legend">Assignment Details</legend>
		<ol>
			<li>
				<label for="title" rsf:id="title_label" id="title_label"><span class="reqStar">*</span> Title</label> 
				<input id="title" rsf:id="title" type="text" size="30" maxlength="100"/>
				<span rsf:id="message-for:title">This is an example error: Adding an assignment requires a title</span>
			</li>
			<li>
				<label rsf:id="msg=assignment2.assignment_add.assignment_instructions" class="block">Assignment Instructions</label>
				<p rsf:id="message-for:instructions"></p>
				<div rsf:id="instructions:">
					<textarea name="something" cols="80" rows="20" wrap="virtual"></textarea>
					<!-- this should be the FCKEditor -->
				</div>
			</li>
			<li>
				
			</li>
		</ol>
	</fieldset>
	
	<fieldset id="attachmentsFieldset">
		<legend>
			<span rsf:id="msg=assignment2.assignment_add.attachments_legend">Attachments</span>
			<span><a rsf:id="add_attachments" class="thickbox">Add Attachments</a></span>
		</legend>
		<ol class="fragment-attachments-container" rsf:id="attachment_list:">
			<li></li>
		</ol> <!-- 
		<ol>
			<li>
				
			</li>
		</ol> -->
	</fieldset>

	<fieldset>
		<legend rsf:id="msg=assignment2.assignment_add.grading_legend">Grading</legend>
		<ol>
			<li><span rsf:id="graded-radios" />
				<fieldset>
					<ol>
						<li>
							<input rsf:id="select_ungraded" id="select_ungraded" name="graded" type="radio" /> 
							<label for="select_ungraded" rsf:id="select_ungraded_label">This assignment is ungraded</label>
						</li>
						<li>
							<input rsf:id="select_graded" id="select_graded" name="graded" type="radio" /> 
							<label for="select_graded" rsf:id="select_graded_label">This assignment is graded</label>
							<span rsf:id="msg=assignment2.assignment_add.gradebook_associated"> and is associated with a Gradebook Item:</span> 
								<select rsf:id="gradebook_item" onchange="selectGraded();populateTitleWithGbItemName();">
									<option value="">Select a Gradebook Item</option>
									<option value="GB Item 1">GB Item 1</option>
									<option value="GB Item 2">GB Item 2</option>
									<option value="GB Item 3">GB Item 3</option>
									<option value="GB Item 4">GB Item 4</option>
								</select>
								<p class="indent">
									<span rsf:id="msg=assignment2.assignment_add.gradebook_or"> -or- </span>
									<a rsf:id="gradebook_item_new_helper" id="gradebook_item_new_helper" class="thickbox" onclick="update_new_gb_item_helper_url();">Create a new Gradebook Item</a>
									<!-- hidden anchor contains the ref to the gb helper without the name attr -->
									<a rsf:id="gradebook_url_without_name" id="gradebook_url_without_name" style="display:none;"></a>
								</p>
						</li>
					</ol>
				</fieldset>
				<p rsf:id="message-for:gradebook_item"></p>
			</li>
		</ol>
	</fieldset>
	
	<fieldset>
		<legend rsf:id="msg=assignment2.assignment_add.availability_details">Availability Details</legend>
		 
		<!-- Test for new styles
		<div>
			<p class="asnnOptionsLabel"><label><span class="reqStar">*</span> Open Date</label></p>
			<p class="asnnOptionsEdit"><input type="text" value="abcde" /></p>
		</div>
		<div>
			<p class="asnnOptionsLabel"><input type="checkbox" /><label>Due Date</label></p>
			<p class="asnnOptionsEdit"><input type="text" value="abcde" /></p>
		</div>
		-->
		
		<div style="clear:both">
			<label class="asnnOptionsLabel" rsf:id="open_date_label"><span class="reqStar">*</span> Open Date</label>
			<p class="asnnOptionsEdit">
			  <input class="asnnOptionsEdit" rsf:id="open_date:"  />
			  <input rsf:id="announcement" id="announcement" type="checkbox" />
			  <label for="announcement" rsf:id="msg=assignment2.assignment_add.announcement">Post Open Date to Announcements on Open Date</label> 
			  <p rsf:id="message-for:open_date"></p>
			</p>
		</div>
		<div style="clear:both">
			<p class="asnnOptionsLabel">
				<input id="require_due_date" rsf:id="require_due_date" type="checkbox" />
				<label for="require_due_date" rsf:id="msg=assignment2.assignment_add.require_due_date">Due Date</label>
			</p>
			<p class="asnnOptionsEdit">
				<span rsf:id="require_due_date_container" id="require_due_date_container">
					<input rsf:id="due_date:" value="12/31/2007"/>
					<p rsf:id="message-for:due_date"></p>
					<span rsf:id="add_to_schedule_container" class="indent">
						<input rsf:id="schedule" id="schedule" type="checkbox" /> 
						<label for="schedule" rsf:id="msg=assignment2.assignment_add.schedule">Post Due Date to Schedule</label>
					</span>
				</span>
			</p>
		</div>
	</fieldset>
	
	<fieldset>
		<legend rsf:id="msg=assignment2.assignment_add.other_legend">Submission Details</legend>
	    <div style="clear:both">
	    	<p class="asnnOptionsLabel">
				<input id="require_submissions" rsf:id="require_submissions" type="checkbox" />
				<label for="require_submissions" rsf:id="msg=assignment2.assignment_add.require_submissions"> Require Submissions?</label>
			</p>
		</div>
		<div style="clear:both">
			<label class="asnnOptionsLabel" rsf:id="msg=assignment2.assignment_add.student_submissions">Submission Format</label>
			<p class="asnnOptionsEdit">
				<select rsf:id="submission_type">
				</select>
				<p rsf:id="message-for:submission_type"></p>
			</p>
		</div>
		<div style="clear:both">
			<label class="asnnOptionsLabel" rsf:id="msg=assignment2.assignment_add.allow_number">Number of Submissions</label>
			<p class="asnnOptionsEdit">
				<select rsf:id="number_submissions"></select>
			</p>
		</div>
		<div style="clear:both">
			<p class="asnnOptionsLabel">
				<input id="require_accept_until" rsf:id="require_accept_until" type="checkbox" />
				<label for="require_accept_until" rsf:id="msg=assignment2.assignment_add.require_accept_until">Set Accept Until Date?</label>
			</p>
			<p class="asnnOptionsEdit">
				<span rsf:id="accept_until_container" id="accept_until_container">
					<input rsf:id="accept_until:" value="12/31/2007"/>
				</span>
				<p rsf:id="message-for:accept_until"></p>	
			</p>					
		</div>
		<div style="clear:both">
			<p class="asnnOptionsLabel">
				<input rsf:id="honor_pledge" id="honor_pledge" type="checkbox" />
				<label for="honor_pledge" rsf:id="msg=assignment2.assignment_add.honor_pledge">Add honor pledge</label>
			</p>
			<p class="asnnOptionsEdit">
			</p>
		</div>
	</fieldset>
	
	<fieldset>
	    <legend rsf:id="msg=assignment2.assignment_add.notification_legend">Submission Notifications</legend>
		<div class="asnnOptionsLabel" style="width:90%">
    		<input rsf:id="sub_notif" id="sub_notif" type="checkbox" />
    		<label for="sub_notif" rsf:id="msg=assignment2.assignment_add.notification">Send email notifications for student submissions</label>
		</div>
	</fieldset>
	
	<fieldset class="submit">
		<input rsf:id="post_assignment" accesskey="s" type="submit" class="active" value="Post"/>
		<input rsf:id="save_draft" accesskey="d" type="submit" value="Save Draft"/>
		<input rsf:id="preview_assignment" title="Preview Assignment" accesskey="v" type="button" class="preview_button thickbox" value="Preview"/>
		<input rsf:id="cancel_assignment" accesskey="x" type="submit" value="Cancel"/>
	</fieldset>													
	</form>
<script type="text/javascript" rsf:id="gradebook_items_data">

</script>
<script type="text/javascript" rsf:id="attachment-ajax-init">
//done in producer
// otpkey = some value
// fragPath = some string
</script>
<script type="text/javascript">
//<![CDATA[
function refresh_ajax(){
	if(fragGBPath != ""){
		oldSelect=jQuery("select[name='page-replace\:\:gradebook_item-selection']").get(0).selectedIndex;
		jQuery.ajax({
			type: "GET",
			cache: false,
			url: fragGBPath,
			success: function(html){
				jQuery("select[name='page-replace\:\:gradebook_item-selection']").html(
					html.substring(html.indexOf('<option'),
						html.lastIndexOf('</option>') + 9));
			    jQuery.globalEval(
			    	html.substring(
			    		html.indexOf('var gradebook'),
			    		html.indexOf('</script',html.indexOf('var gradebook'))));
			    jQuery("select[name='page-replace\:\:gradebook_item-selection']").get(0).selectedIndex=oldSelect;
			    changeValue();
			}
		});
	}
}
//]]>
</script>
<script type="text/javascript">
//<![CDATA[
jQuery(document).ready(function(){
	//Groups init
	jQuery("input[type='radio'][name='page-replace\:\:access_select-selection']").each(function(){
		this.onclick = groups_toggle;
	});
	groups_toggle();
	//Init require accept until date checkboxes
	jQuery("input[name='page-replace\:\:require_accept_until']").each(function(){
		var container = jQuery('#page-replace\\:\\:accept_until_container').get(0);
		asnn2.showHideByCheckbox(this, container);
	});
	show_accept_until();
	//Init require due date checkboxes
	jQuery("input[name='page-replace\:\:require_due_date']").each(function(){
		var container = jQuery('#page-replace\\:\\:require_due_date_container').get(0);
		asnn2.showHideByCheckbox(this, container);
	});
	jQuery("input[name='page-replace\:\:require_submissions']").click(function(){
		asnn2.showHideSiblings(this.parentNode.parentNode, this.checked);
	});
	show_due_date();
});
//]]>
</script>
</div>
</body>
</html>