<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:rsf="http://ponder.org.uk/rsf" xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

   <title>Assignments</title>

	<script type="text/javascript" language="JavaScript" src="/library/js/headscripts.js"></script>
	<!-- vm/editor/FCKeditor/sakai_header.vm -->
	<script type="text/javascript" src="/library/editor/FCKeditor/fckeditor.js"></script> 

   <link href="tool_base.css" type="text/css" rel="stylesheet" media="all"/>   
	<link href="tool.css" type="text/css" rel="stylesheet" media="all"/>
	<link href="assignmentsv4.css" type="text/css" rel="stylesheet" media="all"/>

</head>

<body>

<div class="portletBody">
	<ul class="navIntraTool">
		<li><a href="#" title="Add Assignment">Add</a></li>
		<li><a href="#" title="Assignment List">Assignment List</a></li>
		<li><a href="#" title="Grade Report">Grade Report</a></li>
		<li class="last"><a href="#" title="Permissions">Permissions</a></li>
	</ul>

	<h3>Grading "[Assignment title]"</h3>

	<form name="" id="" action="" method="post">

	<table class="itemSummary" cellspacing="0" summary="Assignment Details">
		<tr>
			<th>Student</th>
			<td>Alan, Rob</td>
		</tr>
		<tr>
			<th>Submitted Date</th>
			<td>Sep 04, 2007 11:00 am</td>
		</tr>
		<tr>
			<th>Status</th>	
			<td>Ungraded</td>
		</tr>
	</table>

	<p class="discTria"><a href="#" accesskey="a"/><img src="collapse.png" alt="Open, click to close assignment instruction" border="0" width="16" height="16" align="top" /></a> Assignment Instructions</p>	
	<div class="textPanel"><p>Test</p></div>

	<h4>Additional resources for assignment</h4>

	<ul class="attachList indnt1">
		<li><img src="page_white_word.png" width="16" height="16"/><a href="">20060613_Agenda.doc</a> (52 KB)</li>
	</ul>

	<h3>Assignment Submission</h3>

	<fieldset>
		<legend>Submitted Text</legend>
		<ol>
			<li>
				<label class="block instruction">Below is the submission from a student. You can insert comments into this text by clicking in the box, then type your comments. Comments surrounded by double curly braces, {{<span class="highlight">like this</span>}}, will appear red to the student.</label>
				<textarea name="grade_submission_feedback_text" id="grade_submission_feedback_text" rows="30" wrap="virtual" cols="80"></textarea>		
				<!-- vm/editor/FCKeditor/sakai_body.vm -->
				<script type="text/javascript" language="JavaScript">
				function chef_setupformattedtextarea(textarea_id)
					{
							var oFCKeditor = new FCKeditor(textarea_id);
						oFCKeditor.BasePath = "/library/editor/FCKeditor/";
		
									 var courseId = "/group/fa4b5eb1-6845-4edd-00de-f42591fd3def/";
		
									 oFCKeditor.Config['ImageBrowserURL'] = oFCKeditor.BasePath + "editor/filemanager/browser/default/browser.html?Connector=/sakai-fck-connector/web/editor/filemanager/browser/default/connectors/jsp/connector&Type=Image&CurrentFolder=" + courseId;
									 oFCKeditor.Config['LinkBrowserURL'] = oFCKeditor.BasePath + "editor/filemanager/browser/default/browser.html?Connector=/sakai-fck-connector/web/editor/filemanager/browser/default/connectors/jsp/connector&Type=Link&CurrentFolder=" + courseId;
									 oFCKeditor.Config['FlashBrowserURL'] = oFCKeditor.BasePath + "editor/filemanager/browser/default/browser.html?Connector=/sakai-fck-connector/web/editor/filemanager/browser/default/connectors/jsp/connector&Type=Flash&CurrentFolder=" + courseId;
									 oFCKeditor.Config['ImageUploadURL'] = oFCKeditor.BasePath + "/sakai-fck-connector/web/editor/filemanager/browser/default/connectors/jsp/connector?Type=Image&Command=QuickUpload&Type=Image&CurrentFolder=" + courseId;
									 oFCKeditor.Config['FlashUploadURL'] = oFCKeditor.BasePath + "/sakai-fck-connector/web/editor/filemanager/browser/default/connectors/jsp/connector?Type=Flash&Command=QuickUpload&Type=Flash&CurrentFolder=" + courseId;
									 oFCKeditor.Config['LinkUploadURL'] = oFCKeditor.BasePath + "/sakai-fck-connector/web/editor/filemanager/browser/default/connectors/jsp/connector?Type=File&Command=QuickUpload&Type=Link&CurrentFolder=" + courseId;
						oFCKeditor.Width  = "600" ;
						oFCKeditor.Height = "400" ;
									 oFCKeditor.Config['CustomConfigurationsPath'] = "/library/editor/FCKeditor/config.js";
							oFCKeditor.ReplaceTextarea() ;
					}
				</script>
			<script type="text/javascript" defer="1">chef_setupformattedtextarea('grade_submission_feedback_text');</script>
			</li>
		</ol>
	</fieldset>
	<fieldset>
		<legend>Submitted Attachments</legend>
		<ol class="attachList indnt1">
			<li>No attachments submitted</li>
		</ol>
		<li>
	</fieldset>
	<fieldset>
		<legend>Instructor Comments</legend>
		<ol>
			<li>
				<label class="block instruction">Use the box below to enter additional summary comments about this submission.</label>
				<textarea name="grade_submission_feedback_comment" id="grade_submission_feedback_comment" rows="30" wrap="virtual" cols="80"></textarea>		
				<!-- vm/editor/FCKeditor/sakai_body.vm -->
				<script type="text/javascript" language="JavaScript">
				function chef_setupformattedtextarea(textarea_id)
					{
							var oFCKeditor = new FCKeditor(textarea_id);
						oFCKeditor.BasePath = "/library/editor/FCKeditor/";
		
									 var courseId = "/group/fa4b5eb1-6845-4edd-00de-f42591fd3def/";
		
									 oFCKeditor.Config['ImageBrowserURL'] = oFCKeditor.BasePath + "editor/filemanager/browser/default/browser.html?Connector=/sakai-fck-connector/web/editor/filemanager/browser/default/connectors/jsp/connector&Type=Image&CurrentFolder=" + courseId;
									 oFCKeditor.Config['LinkBrowserURL'] = oFCKeditor.BasePath + "editor/filemanager/browser/default/browser.html?Connector=/sakai-fck-connector/web/editor/filemanager/browser/default/connectors/jsp/connector&Type=Link&CurrentFolder=" + courseId;
									 oFCKeditor.Config['FlashBrowserURL'] = oFCKeditor.BasePath + "editor/filemanager/browser/default/browser.html?Connector=/sakai-fck-connector/web/editor/filemanager/browser/default/connectors/jsp/connector&Type=Flash&CurrentFolder=" + courseId;
									 oFCKeditor.Config['ImageUploadURL'] = oFCKeditor.BasePath + "/sakai-fck-connector/web/editor/filemanager/browser/default/connectors/jsp/connector?Type=Image&Command=QuickUpload&Type=Image&CurrentFolder=" + courseId;
									 oFCKeditor.Config['FlashUploadURL'] = oFCKeditor.BasePath + "/sakai-fck-connector/web/editor/filemanager/browser/default/connectors/jsp/connector?Type=Flash&Command=QuickUpload&Type=Flash&CurrentFolder=" + courseId;
									 oFCKeditor.Config['LinkUploadURL'] = oFCKeditor.BasePath + "/sakai-fck-connector/web/editor/filemanager/browser/default/connectors/jsp/connector?Type=File&Command=QuickUpload&Type=Link&CurrentFolder=" + courseId;
						oFCKeditor.Width  = "600" ;
						oFCKeditor.Height = "400" ;
									 oFCKeditor.Config['CustomConfigurationsPath'] = "/library/editor/FCKeditor/config.js";
							oFCKeditor.ReplaceTextarea() ;
					}
				</script>
			<script type="text/javascript" defer="1">chef_setupformattedtextarea('grade_submission_feedback_comment');</script>
			</li>
		</ol>
	</fieldset>
	<fieldset>
		<legend>Attachments To Return With Grade</legend>
		<ol class="attachList indnt1">
			<li>No attachments yet</li>
			<li><input type="button" name="" value="Add Attachments" accesskey="a"/></li>
		</ol>
	</fieldset>
	<fieldset>
		<ol>
			<li class="highlightPanel"><label for="grade">Grade:</label> <input type="text" name="grade_submission_grade" size="5" value="" id="grade" /> <span class="instruction">(out of 100.0)</span></li>
			<li class="shorttext skip">
				<label for="allowResubmitNumber">Number of resubmissions allowed</label> <select name="allow_resubmit_number" id="allowResubmitNumber" onchange="if (document.getElementById('allowResubmitNumber').value!=0 && document.getElementById('acceptUntilTime') !=null){document.getElementById('acceptUntilTime').style.display = 'block';}else {document.getElementById('acceptUntilTime').style.display = 'none';}">
					<option value="-1">Unlimited</option>
					<option value="0" selected="selected">0</option>
					<option value="1" >1</option>
					<option value="2" >2</option>
					<option value="3" >3</option>
					<option value="4" >4</option>
					<option value="5" >5</option>
					<option value="6" >6</option>
					<option value="7" >7</option>
					<option value="8" >8</option>
					<option value="9" >9</option>
					<option value="10" >10</option>
				</select>
			</li>
			<li>
				<fieldset>
					<ol>
						<li><input type="checkbox" id="tempAllowResToggle" onclick="if(checked){document.getElementById('allowResubmitNumber').selectedIndex='2';document.getElementById('acceptUntilTime').style.display = 'block';
						}else{document.getElementById('allowResubmitNumber').selectedIndex='1';document.getElementById('acceptUntilTime').style.display = 'none'}" /> <label for="tempAllowResToggle">Allow Resubmission</label></li>
						<li>
							<p class="shorttext" id="acceptUntilTime" style=display:none><label for="new_assignment_closemonth">Accept Until</label>
							<select name="allow_resubmit_closeMonth" id="allow_resubmit_closeMonth" onchange="blur()">
								<option value="1">JAN</option>
								<option value="2">FEB</option>
								<option value="3">MAR</option>
								<option value="4">APR</option>
								<option value="5">MAY</option>
								<option value="6">JUN</option>
								<option value="7">JUL</option>
								<option value="8">AUG</option>
								<option value="9">SEP</option>
								<option value="10" selected="selected">OCT</option>
								<option value="11">NOV</option>
								<option value="12">DEC</option>
						 	</select>
    						<select name="allow_resubmit_closeDay" id="allow_resubmit_closeDay" onchange="blur()">
								<option value="1" selected="selected">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
								<option value="8">8</option>
								<option value="9">9</option>
								<option value="10">10</option>
								<option value="11">11</option>
								<option value="12">12</option>
								<option value="13">13</option>
								<option value="14">14</option>
								<option value="15">15</option>
								<option value="16">16</option>
								<option value="17">17</option>
								<option value="18">18</option>
								<option value="19">19</option>
								<option value="20">20</option>
								<option value="21">21</option>
								<option value="22">22</option>
								<option value="23">23</option>
								<option value="24">24</option>
								<option value="25">25</option>
								<option value="26">26</option>
								<option value="27">27</option>
								<option value="28">28</option>
								<option value="29">29</option>
								<option value="30">30</option>
								<option value="31">31</option>
        					</select>
        					<select name="allow_resubmit_closeYear" id="allow_resubmit_closeYear" onchange="blur()">
								<option value="2002">2002</option>
								<option value="2003">2003</option>
								<option value="2004">2004</option>
								<option value="2005">2005</option>
								<option value="2006">2006</option>
								<option value="2007" selected="selected">2007</option>
								<option value="2008">2008</option>
								<option value="2009">2009</option>
								<option value="2010">2010</option>
								<option value="2011">2011</option>
								<option value="2012">2012</option>
							</select>
						<script type="text/javascript" src="/library/calendar/sakai-calendar.js"></script>
						<script type="text/javascript">chef_dateselectionwidgetpopup('allow_resubmit_closeYear', 'allow_resubmit_closeMonth', 'allow_resubmit_closeDay');</script> at <select name="allow_resubmit_closeHour" id="allow_resubmit_closeHour">
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6" selected="selected">6</option>
								<option value="7">7</option>
								<option value="8">8</option>
								<option value="9">9</option>
								<option value="10">10</option>
								<option value="11">11</option>
								<option value="12">12</option>
							</select>
							<select name="allow_resubmit_closeMin" id="allow_resubmit_closeMin">
								<option value="0" selected="selected">00</option>
								<option value="5" >05</option>
								<option value="10" >10</option>
								<option value="15" >15</option>
								<option value="20" >20</option>
								<option value="25" >25</option>
								<option value="30" >30</option>
								<option value="35" >35</option>
								<option value="40" >40</option>
								<option value="45" >45</option>
								<option value="50" >50</option>
								<option value="55" >55</option>
							</select>
							<select name="allow_resubmit_closeAMPM" id="allow_resubmit_closeAMPM">
								<option value="AM">AM</option>
								<option value="PM" selected="selected">PM</option>
							</select>
							</p>
						</li>
					</ol>
				</fieldset>
			</li>
		</ol>
	</fieldset>
	<fieldset class="submit">
		<input accesskey="s" type="button" class="active" name="save" value="Save"/>
		<input accesskey="v" type="button" name="preview" value="Preview"/>
		<input accesskey="x" type="button" name="cancel" value="Cancel"/>

			<input type="hidden" name="eventSubmit_doAssignment_form" value="" />
			<input type="hidden" name="option" id="option" value="" />
			<input type="hidden" name="view" id="view" value="" />
	</fieldset>
	</form>
</div>
</body>
</html>