<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:rsf="http://ponder.org.uk/rsf" xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

   <title rsf:id="title">Assignments</title>

	<script type="text/javascript" src="/library/editor/FCKeditor/fckeditor.js"></script> 

	<link href="/library/skin/tool_base.css" type="text/css" rel="stylesheet" media="all"/>
    <link href="/library/skin/default/tool.css" type="text/css" rel="stylesheet" media="all"/>
    <script type="text/javascript" language="JavaScript" src="/library/js/jquery.js"></script>
    <script type="text/javascript" language="JavaScript" src="/library/js/headscripts.js"></script>
	<link href="/sakai-assignment2-tool/content/css/assignmentsv4.css" type="text/css" rel="stylesheet" media="all" />
	<script type="text/javascript" src="/library/calendar/js/calendar2.js"></script>
	<script type="text/javascript" src="/sakai-assignment2-tool/content/js/assignment.js"></script>

</head>

<body>

<div class="portletBody">
	<ul rsf:id="navIntraTool:" class="navIntraTool">
	</ul>

	<h3 rsf:id="heading">[Assignment Title] Preview</h3>

	<form rsf:id="form">
		<table class="itemSummary" border="0" summary="Assignment settings.">  
			<tr>
				<th rsf:id="created_by_label">Created by</th>
				<td rsf:id="created_by"> Robert Alan (Oct 1, 2007 4:09 pm)</td>
			</tr>
			<tr>
				<th rsf:id="modified_label">Modified</th>
				<td rsf:id="modified">Oct 1, 2007 4:09 pm</td>
			</tr>
			<tr>
				<th rsf:id="open_date_label">Open</th>
				<td rsf:id="open_date">Jun 1, 2007 12:00 pm</td>
			</tr>
			<tr>
				<th rsf:id="due_date_label">Due</th>
				<td rsf:id="due_date">Jun 8, 2007 5:00 pm</td>
			</tr>
			<tr>
				<th rsf:id="accept_until_label">Accept Until</th>
				<td rsf:id="accept_until">Jun 8, 2007 5:00 pm</td>
			</tr>
			<tr>
				<th rsf:id="submission_type_label">Student Submissions</th>
				<td rsf:id="submission_type">Inline and Attachments</td>
			</tr>
			<tr>
				<th rsf:id="graded_label">Graded?</th>
				<td rsf:id="graded">Points (max 200.0)</td>
			</tr>
			<tr>
				<th rsf:id="calendar_label">Add due date to Calendar?</th>
				<td rsf:id="calendar">No</td>
			</tr>
			<tr>
				<th rsf:id="announcement_label">Announce the open date?</th>
				<td rsf:id="announcement">No</td>
			</tr>
			<tr>
				<th rsf:id="honor_pledge_label">Honor pledge?</th>
				<td rsf:id="honor_pledge">Not required</td>
			</tr>
			<tr>
				<th rsf:id="gradebook_label">Linked to Gradebook Assignment?</th>
				<td rsf:id="gradebook">Final</td>
			</tr>
		</table>

		<h4 rsf:id="assignment_instructions_heading">Assignment Instructions</h4>
		<div rsf:id="instructions" class="textPanel">Testing linkage from assignments to gradebook.</div>



		<p class="discTria">
			<img src="/sakai-assignment2-tool/content/images/collapse.png" border="0" alt="Show student view" class="pointer" />
			<span rsf:id="student_view">Student View</span>
		</p>

		<div class="inopPanel">
		<h4 rsf:id="student_view_title">[Assignment title]</h4>

		<table class="itemSummary" summary="Assignment settings.">
			<tr>
				<th rsf:id="student_view_due_label">Due</th>
				<td rsf:id="student_view_due_date">Jun 8, 2007 5:00 pm</td>
			</tr>
			<tr>
				<th rsf:id="student_view_status_label">Status</th>
				<td rsf:id="student_view_status">Closed</td>
			</tr>
			<tr>
				<th rsf:id="student_view_grade_label">Grade Scale</th>
				<td rsf:id="student_view_grade">Points (max 200.0)</td>
			</tr>
		</table>

		<h4 rsf:id="student_view_instructions_label">Assignment Instructions</h4>
		<div rsf:id="student_view_instructions" class="textPanel">Testing linkage from assignments to gradebook.</div>

		<h4 rsf:id="student_view_start">Start assignment</h4>
		<p rsf:id="student_view_start_instructions" class="instruction">This assignment allows both typed in text and/or attached documents.Type in your comments in the box below, and use the Add Attachments button to include other documents as part of your submission. Save frequently while working.</p>

		<textarea cols="80" rows="8" wrap="virtual" name="textarea" id="textarea" disabled="disabled">&nbsp;</textarea>						

		<fieldset>
			<legend rsf:id="student_view_attachments_legend">Attachments</legend>
			<ol class="attachList indnt1">
				<li rsf:id="student_view_no_attachments">No attachments yet</li>
				<li><input rsf:id="student_view_add_attachmetns" type="button" disabled="disabled" /></li>
			</ol>
		</fieldset>
	</div>

	<fieldset class="submit">
		<input rsf:id="back_to_list" type="submit" class="active" value="Back to List" />
		<input rsf:id="post" accesskey="s" type="submit" class="active" value="Post"/>
		<input rsf:id="save_draft" accesskey="d" type="submit" value="Save Draft"/>
		<input rsf:id="edit" accesskey="x" type="submit" value="Edit"/>
	</fieldset>													
	</form>
</div>
</body>
</html>