<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:rsf="http://ponder.org.uk/rsf" xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

   <title rsf:id="page-title">Assignments</title>

	<script type="text/javascript" src="/library/editor/FCKeditor/fckeditor.js"></script> 

	<link href="/library/skin/tool_base.css" type="text/css" rel="stylesheet" media="all"/>
    <link href="/library/skin/default/tool.css" type="text/css" rel="stylesheet" media="all"/>
    <script type="text/javascript" language="JavaScript" src="/library/js/jquery.js"></script>
    <script type="text/javascript" language="JavaScript" src="/library/js/headscripts.js"></script>
	<link href="/sakai-assignment2-tool/content/css/assignmentsv4.css" type="text/css" rel="stylesheet" media="all" />

</head>

<body>

<div class="portletBody">
	<ul rsf:id="navIntraTool:" class="navIntraTool">
	</ul>

	<div rsf:id="message-for:*" class="debug_info">
		<ul style="margin:0px;">
			<li>Message for user here</li>
		</ul>
	</div>

	<h3 rsf:id="heading">Submissions for "[Homework title]"</h3>


	<div class="viewNav">
		<form rsf:id="assign_form" class="inlineForm" method="post">
			<label rsf:id="assign_grade">Assign this grade to all participants without submissions:</label> <input rsf:id="assign_grade_input" type="text" size="3" />
			<input rsf:id="assign_grade_submit" type="submit" accesskey="a" class="active" value="Apply" />
		</form>
	</div>

	<div rsf:id="pagerDiv:" class="listNav">
	</div>

	<table class="listHier lines nolines" cellpadding="0" cellspacing="0">
		<tr> 
			<th class="attach">&nbsp;</th>
			<th>
				<a rsf:id="tableheader.student" title="Sort by student">Student</a>
				<img rsf:id="student_arrow" src="/sakai-assignment2-tool/content/images/bullet_arrow_up.png" alt="Sort order" width="16" height="16" align="absmiddle" />
			</th>
			<th>
				<a rsf:id="tableheader.submitted" title="Sort by submit date">Submitted</a>
				<img rsf:id="submitted_arrow" src="/sakai-assignment2-tool/content/images/bullet_arrow_up.png" alt="Sort order" width="16" height="16" align="absmiddle" />
			</th>
			<th>
				<a rsf:id="tableheader.status" title="Sort by status">Status</a>
				<img rsf:id="status_arrow" src="/sakai-assignment2-tool/content/images/bullet_arrow_up.png" alt="Sort order" width="16" height="16" align="absmiddle" />
			</th>
			<th>
				<a rsf:id="tableheader.grade" title="Sort by grade">Grade</a>
				<img rsf:id="grade_arrow" src="/sakai-assignment2-tool/content/images/bullet_arrow_up.png" alt="Sort order" width="16" height="16" align="absmiddle" />
			</th>
			<th>
				<a rsf:id="tableheader.release" title="Sort by release">Released</a>
				<img rsf:id="release_arrow" src="/sakai-assignment2-tool/content/images/bullet_arrow_up.png" alt="Sort order" width="16" height="16" align="absmiddle" />
			</th>
		</tr>

		<tr> 
			<td class="attach"></td>
			<td>Janet Janderson
				<ul class="itemAction">
					<li class="last"><a href="">Grade Submission</a></li>
				</ul>
			</td>
			<td>&nbsp;</td>
			<td>Ungraded</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr> 
			<td class="attach"></td>
			<td>Rich Richardson
				<ul class="itemAction">
					<li class="last"><a href="">Grade Submission</a></li>
				</ul>
			</td>
			<td>Sep 01, 2007 11:00 am</td>
			<td>Released</td>
			<td>100.0</td>
			<td><img src="/sakai-assignment2-tool/content/images/check.png" width="16" height="16" border="0" /></td>
		</tr>
		<tr> 
			<td class="attach"><img src="/sakai-assignment2-tool/content/images/attach.png" width="16" height="16" border="0" /></td>
			<td>Bob Robertson
				<ul class="itemAction">
					<li class="last"><a href="">Grade Submission</a></li>
				</ul>
			</td>
			<td>Sep 24, 2007 11:00 am</td>
			<td>Graded</td>
			<td>189.7</td>
			<td>&nbsp;</td>
		</tr>
	</table>

	<hr class="itemSeparator" />

		<p class="discTria"><a title="Show student view"><img src="/sakai-assignment2-tool/content/images/collapse.png" border="0" alt="Show Assignment Details" /></a><span rsf:id="assignment_details">Assignment Details</span></p>

	<table class="itemSummary" border="0" cellspacing="0" summary="The assignment infos">
		<tr> 
			<th rsf:id="assignment_details.title_header">Assignment title</th>
			<td rsf:id="assignment_details.title">Rob's Homework</td>
		</tr>
		<tr>
			<th rsf:id="assignment_details.created_by_header">Created by</th>
			<td rsf:id="assignment_details.created_by">Kristol J Hancock (Sep 24, 2007 10:12 am)</td>
		</tr>
		<tr>
			<th rsf:id="assignment_details.modified_header">Modified</th>
			<td rsf:id="assignment_details.modified">Sep 28, 2007 1:40 pm</td>
		</tr>
		<tr> 
			<th rsf:id="assignment_details.open_header">Open</th>
			<td rsf:id="assignment_details.open">Sep 24, 2007 11:00 am</td>
		</tr>
		<tr> 
			<th rsf:id="assignment_details.due_header">Due</th>
			<td rsf:id="assignment_details.due">Oct 1, 2007 6:00 pm</td>
		</tr>
		<tr>
			<th rsf:id="assignment_details.accept_until_header">Accept Until</th>
			<td rsf:id="assignment_details.accept_until">Oct 1, 2007 6:00 pm</td>
		</tr>
		<tr> 
			<th rsf:id="assignment_details.submissions_header">Student Submissions</th>
			<td rsf:id="assignment_details.submissions">Inline and Attachments</td>
		</tr>
		<tr>
			<th rsf:id="assignment_details.scale_header">Grade Scale</th>
			<td rsf:id="assignment_details.scale">Points (max 100.0)</td>
		</tr>
		<tr> 
			<th rsf:id="assignment_details.honor_header">Honor pledge:</th>
			<td rsf:id="assignment_details.honor">No</td>
		</tr>
	</table>	

	<h4 rsf:id="assignment_details.instructions_header">Assignment Instructions</h4>
	<div class="textPanel">
		<p rsf:id="assignment_details.instructions">Assignment instructions would be placed here.</p>
	</div>

	<h4 rsf:id="assignment_details.attachments_header">Attachments</h4>
		<ul class="attachList indnt1">
			<li>
				<img src="/sakai-assignment2-tool/content/images/page_white_word.png" target="_blank" width="16" height="16"/> <a href="">ExampleAttachment.doc</a> (52 KB)
			</li>
		</ul>

	</div>
</body>
</html>