<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:rsf="http://ponder.org.uk/rsf" xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

   <title rsf:id="page-title">Assignments</title>

	<script type="text/javascript" src="/library/editor/FCKeditor/fckeditor.js"></script> 

	<link href="/library/skin/tool_base.css" type="text/css" rel="stylesheet" media="all"/>
    <link href="/library/skin/default/tool.css" type="text/css" rel="stylesheet" media="all"/>
    <script type="text/javascript" language="JavaScript" src="/library/js/jquery.js"></script>
    <script type="text/javascript" language="JavaScript" src="/library/js/headscripts.js"></script>
	<link href="/sakai-assignment2-tool/content/css/assignmentsv4.css" type="text/css" rel="stylesheet" media="all" />
	<script type="text/javascript" src="/library/calendar/js/calendar2.js"></script>
	

</head>

<body>

<div class="portletBody">
	<ul rsf:id="navIntraTool:" class="navIntraTool">
	</ul>
	<div rsf:id="message-for:*" class="error">
		<ul style="margin:0px;">
			<li>Message for user here</li>
		</ul>
	</div>

	<h3 rsf:id="heading">Add Assignment</h3>
	<p class="instruction">Complete the form and choose an action below. <span class="reqStar">*</span> Indicates required information.</p>

	<form rsf:id="assignment_form">
	<fieldset>
		<legend>Assignment Details</legend>
		<ol>
			<li>
				<label><span class="reqStar">*</span> Title</label> <input rsf:id="title" type="text" size="30" maxlength="100"/>
				<div class="error">
					<p rsf:id="message-for:title">This is an example error: Adding an assignment requires a title</p>
				</div>
			</li>
			<li>
				<label><span class="reqStar">*</span> Open Date</label><input rsf:id="open_date:"  />
					<!--dhtml date picker <img src="/sakai-assignment2-tool/content/images/calendar.png" alt="Date picker" width="16" height="16" align="absmiddle" /> at
				<select name="" id="">
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
					<option value="6">6</option>
					<option value="7">7</option>
					<option value="8">8</option>
					<option value="9">9</option>
					<option value="10">10</option>
					<option value="11">11</option>
					<option value="12" selected="selected">12</option>
				</select>
				<select name="" id="">
					<option value="0" selected="selected">00</option>
					<option value="5" >05</option>
					<option value="10" >10</option>
					<option value="15" >15</option>
					<option value="20" >20</option>
					<option value="25" >25</option>
					<option value="30" >30</option>
					<option value="35" >35</option>
					<option value="40" >40</option>
					<option value="45" >45</option>
					<option value="50" >50</option>
					<option value="55" >55</option>
				</select>
				<select name="" id="">
					<option value="AM">AM</option>
					<option value="PM" selected="selected">PM</option>
				</select>
				-->
				<div class="error">
					<p rsf:id="message-for:open_date"></p>
				</div>
				<p class="instruction">Students won't see this assignment until this open date.</p>
			</li>
			<li>
				<label><span class="reqStar">*</span> Due Date</label> <input rsf:id="due_date:" value="12/31/2007"/>
					<!--dhtml date picker <img src="/sakai-assignment2-tool/content/images/calendar.png" alt="Date picker" width="16" height="16" align="absmiddle" /> at
				<select name="" id="">
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5" selected="selected">5</option>
					<option value="6">6</option>
					<option value="7">7</option>
					<option value="8">8</option>
					<option value="9">9</option>
					<option value="10">10</option>
					<option value="11">11</option>
					<option value="12">12</option>
				</select>
				<select name="" id="">
					<option value="0" selected="selected">00</option>
					<option value="5" >05</option>
					<option value="10" >10</option>
					<option value="15" >15</option>
					<option value="20" >20</option>
					<option value="25" >25</option>
					<option value="30" >30</option>
					<option value="35" >35</option>
					<option value="40" >40</option>
					<option value="45" >45</option>
					<option value="50" >50</option>
					<option value="55" >55</option>
				</select>
				<select name="" id="">
					<option value="AM">AM</option>
					<option value="PM" selected="selected">PM</option>
				</select>
				-->
				<div class="error">
					<p rsf:id="message-for:due_date"></p>
				</div>
			</li>
			<li>
				<label><span class="reqStar">*</span> Accept Until</label> <input rsf:id="accept_until:" value="12/31/2007"/>
					<!--dhtml date picker <img src="/sakai-assignment2-tool/content/images/calendar.png" alt="Date picker" width="16" height="16" align="absmiddle" /> at
				<select name="" id="">
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5" selected="selected">5</option>
					<option value="6">6</option>
					<option value="7">7</option>
					<option value="8">8</option>
					<option value="9">9</option>
					<option value="10">10</option>
					<option value="11">11</option>
					<option value="12">12</option>
				</select>
				<select name="" id="">
					<option value="0" selected="selected">00</option>
					<option value="5" >05</option>
					<option value="10" >10</option>
					<option value="15" >15</option>
					<option value="20" >20</option>
					<option value="25" >25</option>
					<option value="30" >30</option>
					<option value="35" >35</option>
					<option value="40" >40</option>
					<option value="45" >45</option>
					<option value="50" >50</option>
					<option value="55" >55</option>
				</select>
				<select name="" id="">
					<option value="AM">AM</option>
					<option value="PM" selected="selected">PM</option>
				</select>
				-->
				<div class="error">
					<p rsf:id="message-for:accept_until"></p>
				</div>
				<p class="instruction">No assignments can be submitted after this close date.</p>
			</li>
			<li>
				<label for=""><span class="reqStar">*</span> Student Submissions</label>
				<select rsf:id="submission_type">
					<option value="1">Inline only</option>
					<option value="2">Attachments only</option>
					<option value="3" selected="selected">Inline and Attachments</option>
					<option value="4">Non-electronic</option>
				</select>
				<div class="error">
					<p rsf:id="message-for:submission_type"></p>
				</div>
			</li>
			<li>
				<label for="" class="block">Assignment Instructions</label>
				<div class="error">
					<p rsf:id="message-for:instructions"></p>
				</div>
				<div rsf:id="instructions:">
					<textarea name="something" cols="80" rows="20" wrap="virtual"></textarea>
					<!-- this should be the FCKEditor -->
				</div>
				
			</li>
			<li>
				<fieldset>
					<ol>
						<li><input rsf:id="on_calendar" type="checkbox" /> <label for="">Add the due date to Calendar</label></li>
						<li><input rsf:id="announcement" type="checkbox" /> <label for="">Add an announcement about the open date to Announcements</label></li>
						<li><input rsf:id="honor_pledge" type="checkbox" /> <label for="">Add honor pledge</label></li>
					</ol>
				</fieldset>
			</li>
			<li>
				
			</li>
		</ol>
	</fieldset>
	<fieldset>
		<legend>Attachments</legend>
		<ol>
			<li>
				<span class="instruction">No attachments yet</span>
				<input rsf:id="add_attachments" type="button" name="attach" value="Add Attachments" />
			</li>
		</ol>
	</fieldset>
	<fieldset>
		<legend>Grading</legend>
		<ol>
			<li>
				<fieldset>
					<ol>
						<li><input rsf:id="graded" type="radio" /> <label for="">This assignment is graded</label> and is associated with a Gradebook Item: <select name="" >
											<option value="">Select a Gradebook Item</option>
											<option value="Category: GB Item 1">Category: GB Item 1</option>
											<option value="Category: GB Item 2">Category: GB Item 2</option>
											<option value="Category: GB Item 3">Category: GB Item 3</option>
											<option value="Category: GB Item 4">Category: GB Item 4</option>
										</select> -or- <a href="#gradebookitemhelper">Create a new Gradebook Item</a></li>
						<li><input rsf:id="ungraded" type="radio" /> <label for="">This assignment is ungraded</label></li>
					</ol>
				</fieldset>
			</li>
		</ol>
	</fieldset>
	<fieldset>
		<legend>Access</legend>
		<ol>
			<li>
				<fieldset>
					<ol>
						<li><input rsf:id="restricted_to_groups_false" type="radio" /> <label for="">Display to site</label></li>
						<li><input rsf:id="restricted_to_groups_true" type="radio" /> <label for="">Display to selected groups</label></li>
						<li><table id="groupTable" class="listHier lines" cellpadding="0" cellspacing="0" border="0">
								<tr>
									<th><input type="checkbox" title="Select all" />Select All</th>
									<th>Title</th>
									<th>Description</th>
								</tr>
								<tr>
									<td>
										<input rsf:id="group_check:" type="checkbox" />
									</td>
									<td>
										<label for="">Blue Cohort</label>	
									</td>
									<td>Group Description</td>
								</tr>
							</table></li>
					</ol>
				</fieldset>
			</li>
		</ol>
	</fieldset>
	<fieldset>
		<legend>Submission Notification Email Options</legend>
		<ol>
			<li>
				<fieldset>
					<ol>
						<li><input rsf:id="notifications_non" type="radio" checked="checked"/> <label for="">Do not send me notification emails for any student submissions</label></li>
						<li><input rsf:id="notifications_every" type="radio" /> <label for="">Send me a notification email for each student submission</label></li>
						<li><input rsf:id="notifications_digest" type="radio" /> <label for="">Send me one email per day summarizing notifications for student submissions</label></li>
					</ol>
				</fieldset>
			</li>
		</ol>
	</fieldset>
	<fieldset class="submit">
		<input rsf:id="post_assignment" accesskey="s" type="submit" class="active" name="post" value="Post"/>
		<input accesskey="v" type="submit" name="preview" value="Preview"/>
		<input rsf:id="save_draft" accesskey="d" type="submit" name="save" value="Save Draft"/>
		<input accesskey="x" type="submit" name="cancel" value="Cancel"/>
	</fieldset>													
	</form>
</div>
</body>
</html>