<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:rsf="http://ponder.org.uk/rsf" xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

   <title>Assignments</title>

	<script type="text/javascript" language="JavaScript" src="/library/js/headscripts.js"></script>
	<!-- vm/editor/FCKeditor/sakai_header.vm -->
	<script type="text/javascript" src="/library/editor/FCKeditor/fckeditor.js"></script> 

   <link href="tool_base.css" type="text/css" rel="stylesheet" media="all"/>   
	<link href="tool.css" type="text/css" rel="stylesheet" media="all"/>
	<link href="assignmentsv4.css" type="text/css" rel="stylesheet" media="all"/>

</head>

<body>

<div class="portletBody">
	<ul class="navIntraTool">
		<li><a href="#" title="Add Assignment">Add</a></li>
		<li><a href="#" title="Assignment List">Assignment List</a></li>
		<li><a href="#" title="Grade Report">Grade Report</a></li>
		<li class="last"><a href="#" title="Permissions">Permissions</a></li>
	</ul>

	<h3>Grading "[Assignment title]" Preview</h3>

	<form name="" id="" action="" method="post">

	<table class="itemSummary" cellspacing="0" summary="Assignment Details">
		<tr>
			<th>Student</th>
			<td>Alan, Rob</td>
		</tr>
		<tr>
			<th>Status</th>
			<td>Ungraded</td>
		</tr>
	</table>

	<h4>Assignment Instructions</h4>
	<div class="textPanel"><p>Instructions would go here.</p></div>

	<h4>Additional resources for assignment</h4>

	<ul class="attachList indnt1">
		<li><img src="page_white_word.png" width="16" height="16"/><a href="">AttachmentExample.doc</a> (52 KB)</li>
	</ul>

	<h3>Original submission text with the instructor's comments inserted if applicable</h3>
	<div class="textPanel"><p>Original submission text would go here.</p></div>


	<div class="highlightPanel">
		<p>Grade: <span class="highlight">Ungraded</span></p>
	</div>

	<p>Number of resubmissions allowed: 0</p>


	<fieldset class="submit">
		<input accesskey="s" type="button" class="active" name="return" value="Return to Student"/>
		<input accesskey="d" type="button" name="edit" value="Edit"/>

			<input type="hidden" name="eventSubmit_doAssignment_form" value="" />
			<input type="hidden" name="option" id="option" value="" />
			<input type="hidden" name="view" id="view" value="" />
	</fieldset>
	</form>
</div>
</body>
</html>