
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:rsf="http://ponder.org.uk/rsf" xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

   <title rsf:id="page-title">Assignments</title>

	<script type="text/javascript" language="JavaScript" src="/library/js/headscripts.js"></script>
	<!-- vm/editor/FCKeditor/sakai_header.vm -->
	<script type="text/javascript" src="/library/editor/FCKeditor/fckeditor.js"></script> 

    <link href="/library/skin/tool_base.css" type="text/css" rel="stylesheet" media="all"/>
    <link href="/library/skin/default/tool.css" type="text/css" rel="stylesheet" media="all"/>
    <script type="text/javascript" language="JavaScript" src="/library/js/headscripts.js"></script>
    <script type="text/javascript" language="JavaScript" src="/library/js/jquery.js"></script>
	<link href="/sakai-assignment2-tool/content/css/assignmentsv4.css" type="text/css" rel="stylesheet" media="all" />

</head>

<body>

<div class="portletBody">
	
	<ul class="breadCrumb">
		<li rsf:id="last_breadcrumb" class="lastCrumb">Last Breadcrumb</li>
	</ul>

	<div rsf:id="message-for:*" class="debug_info">
	</div>
	
	<div rsf:id="pagerDiv:" class="listNav">
	</div>
	<ul class="navIntraTool" rsf:id="navIntraTool">
		<li>
			<a rsf:id="assignment_list-add-assignment-link" href="">Add Assignment</a>
		</li>
	</ul>
	<form rsf:id="form" method="post">
		<table class="listHier lines">
			<tr> 
				<th rsf:id="tableheader.remove">Remove?</th>
				<th rsf:id="tableheader.assignment:">
				</th>
				<th rsf:id="tableheader.for:">
				</th>
				<th rsf:id="tableheader.status:">
				</th>
				<th rsf:id="tableheader.open:">
				</th>
				<th rsf:id="tableheader.due:">
				</th>
				<!-- Coming Soon 
				<th rsf:id="tableheader.ungraded:">
				</th>
				-->
			</tr>


			<tr rsf:id="assignment-row:"> 
				<td rsf:id="assignment_row_remove_col">
					<input rsf:id="assignment_row_remove" type="checkbox" /> <label rsf:id="assignment_row_remove_label" class="skip">Remove</label>
				</td>
				<td headers="title">
				<h4 rsf:id="assignment_title">Homework Example 2</h4>
					<ul class="itemAction">
						<li><a rsf:id="assignment_row_edit">Edit</a></li>
						<li><a rsf:id="assignment_row_duplicate">Duplicate</a></li>
						<li class="last"><a rsf:id="assignment_row_grade">Grade Assignment</a></li>
					</ul>
				</td>
				<td rsf:id="assignment_row_for">Group 1, Group 2</td>
				<td rsf:id="assignment_row_open_text">Open</td>
				<td rsf:id="assignment_row_draft_td"><span rsf:id="assignment_row_draft" class="highlight"></span></td>
				<td rsf:id="assignment_row_open">Sep 24, 2007 11:00 am</td>
				<td rsf:id="assignment_row_due">Oct 1, 2007 6:00 pm</td>
				<!-- 
				<td><a rsf:id="assignment_row_in_new">2/2</a></td>
				-->
			</tr>
		</table>
		<br />
		<input rsf:id="submit_remove" type="submit" class="active" name="eventSubmit_doDelete_confirm_assignment" value="Remove Selected" accesskey="s" />		
		</form>
		<div rsf:id="assignment_empty">There are no Assignments yet</div>
	</div>
</body>
</html>