<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:rsf="http://ponder.org.uk/rsf" xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

   <title rsf:id="msg=assignment2.title">Assignments</title>
    <link href="/library/skin/tool_base.css" type="text/css" rel="stylesheet" media="all"/>
    <link href="/library/skin/default/tool.css" type="text/css" rel="stylesheet" media="all"/>
	<link href="/sakai-assignment2-tool/content/css/assignmentsv4.css" type="text/css" rel="stylesheet" media="all" />
</head>

<body>
<!--  everything outside of rsf:id="page:" is set in Layout.html using outerPageTemplates -->

<div rsf:id="page:" class="portletBody">
	
	<ul class="breadCrumb">
		<li><a rsf:id="breadcrumb">Assignment List</a></li>
		<li rsf:id="last_breadcrumb" class="lastCrumb">Add Assignment</li>
	</ul>
	

	<div class="generalErrors">
		<ul rsf:id="message-for:*" style="margin:0px;">
			<li>Message for user here</li>
		</ul>
	</div>
	
	<p rsf:id="instructions" class="instruction">Complete the form and choose an action below. <span class="reqStar">*</span> Indicates required information.</p>

	<form rsf:id="assignment_form">
	<fieldset>
		<legend rsf:id="msg=assignment2.assignment_add.assignment_details_legend">Assignment Details</legend>
		<ol>
			<li>
				<label rsf:id="title_label" id="title_label"><span class="reqStar">*</span> Title</label> 
				<input rsf:id="title" type="text" size="30" maxlength="100"/>
				<span rsf:id="message-for:title">This is an example error: Adding an assignment requires a title</span>
			</li>
			<li>
				<label rsf:id="msg=assignment2.assignment_add.assignment_instructions" class="block">Assignment Instructions</label>
				<p rsf:id="message-for:instructions"></p>
				<div rsf:id="instructions:">
					<textarea name="something" cols="80" rows="20" wrap="virtual"></textarea>
					<!-- this should be the FCKEditor -->
				</div>
			</li>
			<li>
				
			</li>
		</ol>
	</fieldset>
	<fieldset>
		<legend rsf:id="msg=assignment2.assignment_add.grading_legend">Grading</legend>
		<ol>
			<li><span rsf:id="ungraded" />
				<fieldset>
					<ol>
						<li>
							<input rsf:id="select_ungraded" id="select_ungraded" name="graded" type="radio" /> 
							<label rsf:id="select_ungraded_label">This assignment is ungraded</label>
						</li>
						<li>
							<input rsf:id="select_graded" id="select_graded" name="graded" type="radio" /> 
							<label rsf:id="select_graded_label">This assignment is graded</label>
							<span rsf:id="msg=assignment2.assignment_add.gradebook_associated"> and is associated with a Gradebook Item:</span> 
								<select rsf:id="gradebook_item">
									<option value="">Select a Gradebook Item</option>
									<option value="Category: GB Item 1">Category: GB Item 1</option>
									<option value="Category: GB Item 2">Category: GB Item 2</option>
									<option value="Category: GB Item 3">Category: GB Item 3</option>
									<option value="Category: GB Item 4">Category: GB Item 4</option>
								</select>
								<p class="indent">
									<span rsf:id="msg=assignment2.assignment_add.gradebook_or"> -or- </span>
									<a rsf:id="gradebook_item_new_helper" class="thickbox">Create a new Gradebook Item</a>
								</p>
						</li>
					</ol>
				</fieldset>
				<p rsf:id="message-for:gradebook_item"></p>
			</li>
		</ol>
	</fieldset>
	<fieldset>
		<legend rsf:id="msg=assignment2.assignment_add.other_legend">Other</legend>
	    <ol>
			<li>
				<label rsf:id="open_date_label"><span class="reqStar">*</span> Open Date</label><input rsf:id="open_date:"  />
				<p rsf:id="message-for:open_date"></p>
				<p rsf:id="open_date_instruction" class="instruction">Students won't see this assignment until this open date.</p>
				<fieldset class="indent">
					<ol>
						<li>
							<input rsf:id="announcement" id="announcement" type="checkbox" /> 
							<label rsf:id="announcement_label">Add an announcement about the open date to Announcements</label>
						</li>
					</ol>
				</fieldset>
			</li>
			<li class="due_date">
				<label rsf:id="msg=assignment2.assignment_add.due_date">Due Date</label> 
				<fieldset>
					<ol>
						<li>
							<input rsf:id="require_due_date" type="checkbox" />
							<label rsf:id="require_due_date_label">Require Due Date?</label>
						</li>
					</ol>
				</fieldset>
				<div rsf:id="require_due_date_container" class="indent"><input rsf:id="due_date:" value="12/31/2007"/></div>
				<p rsf:id="message-for:due_date"></p>
			</li>
			<li>
				<label rsf:id="msg=assignment2.assignment_add.accept_until">Accept Until</label> 
				<fieldset>
					<ol>
						<li>
							<input rsf:id="require_accept_until" type="checkbox" />
							<label rsf:id="require_accept_until_label">Require Accept Until Date?</label>
						</li>
					</ol>
				</fieldset>
				<div class="indent" rsf:id="accept_until_container"><input rsf:id="accept_until:" value="12/31/2007"/></div>
				<p rsf:id="message-for:accept_until"></p>
				<fieldset class="indent" rsf:id="accept_until_until_fieldset">
					<ol>
						<li>
							<input rsf:id="accept_until_until" id="accept_until_until" type="checkbox" /> 
							<label rsf:id="accept_until_until_label">Allow resubmissions until "Accept Until" Date</label>
						</li>
					</ol>
				</fieldset>
			</li>
			<li>
				<label rsf:id="msg=assignment2.assignment_add.allow_number">Number of Submissions</label>
				<select rsf:id="number_submissions"></select>
			</li>
			<li>
				<label rsf:id="msg=assignment2.assignment_add.student_submissions">Submission Method</label>
				<select rsf:id="submission_type">
				</select>
				<p rsf:id="message-for:submission_type"></p>
			</li>
			<li>
				<label rsf:id="msg=assignment2.assignment_add.honor_pledge">Add honor pledge</label>
				<select rsf:id="honor_pledge">
				</select>
			</li>
			<!-- 
			<li>
				<label rsf:id="msg=assignment2.assignment_add.misc_details_label">Miscellaneous Details</label>
				<fieldset>
					<ol>
						<li><input rsf:id="on_calendar" type="checkbox" /> <label rsf:id="msg=assignment2.assignment_add.on_calendar">Add the due date to Calendar</label></li>
					</ol>
				</fieldset>
			</li>
			-->
		</ol>
	</fieldset>
	<fieldset>
		<legend rsf:id="msg=assignment2.assignment_add.attachments_legend">Attachments</legend>
		<ol id="fragment-attachments-container">
			<li rsf:id="attachment_list:"></li>
		</ol>
		<ol>
			<li>
				<a rsf:id="add_attachments" class="thickbox">Add Attachments</a>
			</li>
		</ol>
	</fieldset>
	<fieldset>
		<legend rsf:id="access_legend">Access</legend>
		<ol>
			<li>
				<span rsf:id="access_select" />
				<fieldset>
					<ol>
						<li rsf:id="access_row:">
							<input rsf:id="access_choice" id="access_choice" type="radio" />
							<label rsf:id="access_label">Display to site</label>
						</li>
						<li id="groups_table_li" class="indent">
							<table id="groupTable" class="listHier lines" cellpadding="0" cellspacing="0" border="0">
								<tr>
									<th><input type="checkbox" title="Select all" onclick="toggle_group_checkboxes(this)" /></th>
									<th>Title</th>
									<th>Description</th>
								</tr>
								<tr rsf:id="groups_row:">
									<td>
										<input rsf:id="group_check" type="checkbox" />
									</td>
									<td>
										<label rsf:id="group_label">Blue Cohort</label>	
									</td>
									<td rsf:id="group_description">Group Description</td>
								</tr>
							</table></li>
					</ol>
				</fieldset>
			</li>
		</ol>
	</fieldset>
	<!-- 
	<fieldset>
		<legend rsf:id="notification_legend">Submission Notification Email Options</legend>
		<ol>
			<li>
				<span rsf:id="notifications_select"/>
				<fieldset>
					<ol>
						<li rsf:id="notification_row:">
							<input rsf:id="notification_choice" type="radio" />
							<label rsf:id="notification_label">Do not send me notification emails for any student submissions</label>
						</li>
					</ol>
				</fieldset>
			</li>
		</ol>
	</fieldset>
	-->
	<fieldset class="submit">
		<input rsf:id="post_assignment" accesskey="s" type="submit" class="active" value="Post"/>
		<input rsf:id="preview_assignment" title="Preview Assignment" accesskey="v" type="button" class="preview_button thickbox" value="Preview"/>
		<input rsf:id="save_draft" accesskey="d" type="submit" value="Save Draft"/>
		<input rsf:id="cancel_assignment" accesskey="x" type="submit" value="Cancel"/>
	</fieldset>													
	</form>
<script type="text/javascript" rsf:id="gradebook_items_data">

</script>
<script type="text/javascript" rsf:id="attachment-ajax-init">
//done in producer
// otpkey = some value
// fragPath = some string
</script>
<script type="text/javascript">
//<![CDATA[
function updateAttachments(){
	jQuery.each(updateAttachments.arguments, function(){
	  if (this != null){
		  jQuery.ajax({
			   type: "GET",
		   	cache: false,
		   	url: fragAttachPath + "?remove=true&idOffset=" + (jQuery("#fragment-attachments-container li").size() -1) + "&attachmentRef=" + this,
		   	success: function(html){
			   	jQuery("#fragment-attachments-container").append(html.substring(html.indexOf('<div>') + 5, html.lastIndexOf('</div>')));
			   	updateDisplayNoAttachments();
			}
		  });
      }
	});
	highlight(jQuery("#fragment-attachments-container"));
}
function refresh_ajax(){
	if(fragGBPath != ""){
		oldSelect=jQuery("select[name='page-replace\:\:gradebook_item-selection']").get(0).selectedIndex;
		jQuery.ajax({
			type: "GET",
			cache: false,
			url: fragGBPath,
			success: function(html){
				jQuery("select[name='page-replace\:\:gradebook_item-selection']").html(
					html.substring(html.indexOf('<option'),
						html.lastIndexOf('</option>') + 9));
			    jQuery.globalEval(
			    	html.substring(
			    		html.indexOf('var gradebook'),
			    		html.indexOf('</script',html.indexOf('var gradebook'))));
			    jQuery("select[name='page-replace\:\:gradebook_item-selection']").get(0).selectedIndex=oldSelect;
			    changeValue();
			}
		});
	}
}
//]]>
</script>
<script type="text/javascript">
//<![CDATA[
jQuery(document).ready(function(){
	//Groups init
	jQuery("input[type='radio'][name='page-replace\:\:access_select-selection']").each(function(){
		this.onclick = groups_toggle;
	});
	groups_toggle();
	//Init require accept until date checkboxes
	jQuery("input[name='page-replace\:\:require_accept_until']").each(function(){
		this.onclick = show_accept_until;
	});
	show_accept_until();
	//Init require due date checkboxes
	jQuery("input[name='page-replace\:\:require_due_date']").each(function(){
		this.onclick = show_due_date;
	});
	show_due_date();
});
//]]>
</script>
</div>
</body>
</html>