<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:rsf="http://ponder.org.uk/rsf" xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

   <title rsf:id="page-title">Assignments</title>

	<script type="text/javascript" src="/library/editor/FCKeditor/fckeditor.js"></script> 

	<link href="/library/skin/tool_base.css" type="text/css" rel="stylesheet" media="all"/>
    <link href="/library/skin/default/tool.css" type="text/css" rel="stylesheet" media="all"/>
    <script type="text/javascript" language="JavaScript" src="/library/js/jquery.js"></script>
    <script type="text/javascript" language="JavaScript" src="/sakai-assignment2-tool/content/js/interface.js"></script>
    <script type="text/javascript" language="JavaScript" src="/sakai-assignment2-tool/content/js/assignment_list-reorder-functions.js"></script>
    <script type="text/javascript" language="JavaScript" src="/library/js/headscripts.js"></script>
	<link href="/sakai-assignment2-tool/content/css/assignmentsv4.css" type="text/css" rel="stylesheet" media="all" />

<style type="text/css">
    div.sortableitem {
      clear: left;
      float: left;
      margin: 0;
      padding: 0;
      height: 32px;
   }
   div.sortableitem span {
      top: 10px;
      position: relative;
   }
   .helperclass {
    clear: left;
   	float: left;
   	padding: 0;
   	width: 0px;
   }
   td#sortable {
      margin: 0;
      padding: 0;
   }
   table#reorder-table td{
   	height: 32px;
      padding: 0;
      margin: 0;
   }
</style>

</head>

<body>

<div class="portletBody">

	<div class="generalErrors">
		<ul rsf:id="message-for:*" style="margin:0px;">
			<li>Message for user here</li>
		</ul>
	</div>

	<div rsf:id="pagerDiv:" class="listNav">
	</div>
	
	<a rsf:id="assignment_list-sortview-link" href="assignment_list-sortview">Sort Order View</a> | <span rsf:id="current_page">My Reorder View</span>
	<table id="reorder-table" class="listHier lines">
		<tr> 
			<th rsf:id="reorder_header">Reorder</th>
			<th class="attach">&nbsp;</th>
			<th rsf:id="for_header">For</th>
			<th rsf:id="status_header">Status</th>
			<th rsf:id="open_header">Open</th>
			<th rsf:id="due_header">Due</th>
			<th rsf:id="in_new_header">In/New</th>
			<th rsf:id="scale_header">Scale</th>
		</tr>
      <tr class="container">
         <td rsf:id="td_assignment_li_container" rowspan="5" id="sortable">
					<div rsf:id="assignment_li:" class="sortableitem">
						<img src="/sakai-assignment2-tool/content/images/reorder.png" class="reorder_handle" alt="Reorder Handle" width="32" height="32" align="absmiddle" />
						<span rsf:id="assignment_row_title">Homework Example</span>
					</div>
			</td>
         <td colspan="9" class="skip"></td>
      </tr>
		<tr rsf:id="assignment-row:" class="datarow">
			<td headers="attachments" class="attach"><img rsf:id="assignment_row_attach_img" width="16" height="16" border="0" /></td>
			<td rsf:id="assignment_row_for">Group 1, Group 2</td>
			<td rsf:id="assignment_row_open_text">Open</td>
			<td rsf:id="assignment_row_draft_td"><span rsf:id="assignment_row_draft" class="highlight"></span></td>
			<td rsf:id="assignment_row_open">Sep 24, 2007 11:00 am</td>
			<td rsf:id="assignment_row_due">Oct 1, 2007 6:00 pm</td>
			<td><a rsf:id="assignment_row_in_new">2/2</a></td>
			<td rsf:id="assignment_row_scale">0-100.0</td>
		</tr>
	</table>
	<div rsf:id="assignment_empty">There are no Assignments yet</div>
</div>
</body>
</html>