<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:rsf="http://ponder.org.uk/rsf" xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

   <title rsf:id="page-title">Assignments</title>

	<script type="text/javascript" src="/library/editor/FCKeditor/fckeditor.js"></script> 

	<link href="/library/skin/tool_base.css" type="text/css" rel="stylesheet" media="all"/>
    <link href="/library/skin/default/tool.css" type="text/css" rel="stylesheet" media="all"/>
    <script type="text/javascript" language="JavaScript" src="/library/js/jquery.js"></script>
    <script type="text/javascript" language="JavaScript" src="/library/js/headscripts.js"></script>
	<link href="/sakai-assignment2-tool/content/css/assignmentsv4.css" type="text/css" rel="stylesheet" media="all" />
	<script type="text/javascript" src="/library/calendar/js/calendar2.js"></script>
	<script type="text/javascript" src="/sakai-assignment2-tool/content/js/assignment.js"></script>
	<script type="text/javascript" language="JavaScript" src="/sakai-assignment2-tool/content/js/thickbox.js"></script>
	<link href="/sakai-assignment2-tool/content/css/thickbox.css" type="text/css" rel="stylesheet" media="all" />
	

</head>

<body>

<div class="portletBody">
	<ul rsf:id="navIntraTool:" class="navIntraTool">
	</ul>
	<div rsf:id="message-for:*" class="error">
		<ul style="margin:0px;">
			<li>Message for user here</li>
		</ul>
	</div>

	<h3 rsf:id="heading">Add Assignment</h3>
	<p rsf:id="instructions" class="instruction">Complete the form and choose an action below. <span class="reqStar">*</span> Indicates required information.</p>

	<form rsf:id="assignment_form">
	<fieldset>
		<legend rsf:id="msg=assignment2.assignment_add.grading_legend">Grading</legend>
		<ol>
			<li><span rsf:id="grading_select" />
				<fieldset>
					<ol>
						<li><input rsf:id="graded" name="graded" type="radio" /> <label rsf:id="msg=assignment2.assignment_add.assignment_graded">This assignment is graded</label>
							<span rsf:id="msg=assignment2.assignment_add.gradebook_associated"> and is associated with a Gradebook Item:</span> 
								<select rsf:id="gradebook_item" >
									<option value="">Select a Gradebook Item</option>
									<option value="Category: GB Item 1">Category: GB Item 1</option>
									<option value="Category: GB Item 2">Category: GB Item 2</option>
									<option value="Category: GB Item 3">Category: GB Item 3</option>
									<option value="Category: GB Item 4">Category: GB Item 4</option>
								</select>
								<span rsf:id="msg=assignment2.assignment_add.gradebook_or"> -or- </span>
								<a rsf:id="gradebook_item_new_helper" class="thickbox">Create a new Gradebook Item</a></li>
						<li><input rsf:id="ungraded" name="graded" type="radio" /> <label rsf:id="msg=assignment2.assignment_add.assignment_ungraded">This assignment is ungraded</label></li>
					</ol>
				</fieldset>
			</li>
		</ol>
	</fieldset>
	<fieldset>
		<legend>Assignment Details</legend>
		<ol>
			<li>
				<label rsf:id="title_label"><span class="reqStar">*</span> Title</label> <input rsf:id="title" type="text" size="30" maxlength="100"/>
				<div class="error">
					<p rsf:id="message-for:title">This is an example error: Adding an assignment requires a title</p>
				</div>
			</li>
			<li>
				<label rsf:id="open_date_label"><span class="reqStar">*</span> Open Date</label><input rsf:id="open_date:"  />
				<div class="error">
					<p rsf:id="message-for:open_date"></p>
				</div>
				<p rsf:id="open_date_instruction" class="instruction">Students won't see this assignment until this open date.</p>
			</li>
			<li class="due_date">
				<label rsf:id="due_date_label"><span class="reqStar">*</span> Due Date</label> <input rsf:id="due_date:" value="12/31/2007"/>
				<div class="error">
					<p rsf:id="message-for:due_date"></p>
				</div>
			</li>
			<li class="gradebook_item_due_date">
				<label rsf:id="msg=assignment2.assignment_add.gradebook_item_due_date">Gradebook Item Due Date</label>
				<span rsf:id="gradebook_item_due_date">12/31/2007</span>
				<p class="instruction">
					<span rsf:id="msg=assignment2.assignment_add.gradebook_item_due_Date_instruction">The Due Date is set by the Gradebook Item.</span> 
					<a rsf:id="gradebook_item_edit_helper" class="thickbox">To Edit, click here</a>
				</p>
			</li>
			<li>
				<label rsf:id="accept_until_label"><span class="reqStar">*</span> Accept Until</label> <input rsf:id="accept_until:" value="12/31/2007"/>
				<div class="error">
					<p rsf:id="message-for:accept_until"></p>
				</div>
				<p rsf:id="accept_until_instruction" class="instruction">No assignments can be submitted after this close date.</p>
			</li>
			<li>
				<label rsf:id="student_submissions_label"><span class="reqStar">*</span> Student Submissions</label>
				<select rsf:id="submission_type">
					<option value="1">Inline only</option>
					<option value="2">Attachments only</option>
					<option value="3" selected="selected">Inline and Attachments</option>
					<option value="4">Non-electronic</option>
				</select>
				<div class="error">
					<p rsf:id="message-for:submission_type"></p>
				</div>
			</li>
			<li>
				<label rsf:id="msg=assignment2.assignment_add.assignment_instructions" class="block">Assignment Instructions</label>
				<div class="error">
					<p rsf:id="message-for:instructions"></p>
				</div>
				<div rsf:id="instructions:">
					<textarea name="something" cols="80" rows="20" wrap="virtual"></textarea>
					<!-- this should be the FCKEditor -->
				</div>
				
			</li>
			<li>
				<fieldset>
					<ol>
						<!-- 
						<li><input rsf:id="on_calendar" type="checkbox" /> <label rsf:id="msg=assignment2.assignment_add.on_calendar">Add the due date to Calendar</label></li>
						-->
						<li><input rsf:id="announcement" type="checkbox" /> <label rsf:id="msg=assignment2.assignment_add.announcement">Add an announcement about the open date to Announcements</label></li>
						<li><input rsf:id="honor_pledge" type="checkbox" /> <label rsf:id="msg=assignment2.assignment_add.honor_pledge">Add honor pledge</label></li>
					</ol>
				</fieldset>
			</li>
			<li>
				
			</li>
		</ol>
	</fieldset>
	<fieldset>
		<legend rsf:id="msg=assignment2.assignment_add.attachments_legend">Attachments</legend>
		<ol id="fragment-attachments-container">
		
		</ol>
		<ol>
			<li>
				<span rsf:id="msg=assignment2.assignment_add.no_attachments_yet" class="instruction">No attachments yet</span>
				<a rsf:id="add_attachments" class="thickbox">Add Attachments</a>
				<!-- <input rsf:id="add_attachments" type="button" name="attach" value="Add Attachments" /> -->
			</li>
		</ol>
	</fieldset>
	<fieldset>
		<legend rsf:id="access_legend">Access</legend>
		<ol>
			<li>
				<span rsf:id="access_select" />
				<fieldset>
					<ol>
						<li rsf:id="access_row:"><input rsf:id="access_choice" type="radio" /> <label rsf:id="access_label">Display to site</label></li>
						<li rsf:id="groups_table_li" id="groups_table_li">
							<table id="groupTable" class="listHier lines" cellpadding="0" cellspacing="0" border="0">
								<tr>
									<th><input type="checkbox" title="Select all" onclick="$('table#groupTable :checkbox').attr('checked', 'checked');" />Select All</th>
									<th>Title</th>
									<th>Description</th>
								</tr>
								<tr rsf:id="groups_row:">
									<td>
										<input rsf:id="group_check" type="checkbox" />
									</td>
									<td>
										<label rsf:id="group_label">Blue Cohort</label>	
									</td>
									<td rsf:id="group_description">Group Description</td>
								</tr>
							</table></li>
					</ol>
				</fieldset>
			</li>
		</ol>
	</fieldset>
	<!-- 
	<fieldset>
		<legend rsf:id="notification_legend">Submission Notification Email Options</legend>
		<ol>
			<li>
				<span rsf:id="notifications_select"/>
				<fieldset>
					<ol>
						<li rsf:id="notification_row:">
							<input rsf:id="notification_choice" type="radio" />
							<label rsf:id="notification_label">Do not send me notification emails for any student submissions</label>
						</li>
					</ol>
				</fieldset>
			</li>
		</ol>
	</fieldset>
	-->
	<fieldset class="submit">
		<input rsf:id="post_assignment" accesskey="s" type="submit" class="active" value="Post"/>
		<input rsf:id="preview_assignment" accesskey="v" type="submit" value="Preview"/>
		<input rsf:id="save_draft" accesskey="d" type="submit" value="Save Draft"/>
		<input rsf:id="cancel_assignment" accesskey="x" type="submit" value="Cancel"/>
	</fieldset>													
	</form>
</div>
<script type="text/javascript" rsf:id="due_date_init">
$(".gradebook_item_due_date").hide();
</script>
<script type="text/javascript" rsf:id="attachment-ajax-init">
//done in producer
// otpkey = some value
</script>
<script type="text/javascript">
//<![CDATA[
function refresh_ajax(){
	$("#fragment-attachments-container").load("fragment-attachments?otpkey=" + otpkey + "&remove=true");
}
$(document).load(refresh_ajax());
//]]>
</script>
</body>
</html>