<div class="portletBody">
	<h3 rsf:id="preview_heading">[Assignment Title] Preview</h3>

			<table class="itemSummary" border="0" summary="Assignment settings.">  
				<tr>
					<th rsf:id="msg=assignment2.assignment_preview.created_by">Created by</th>
					<td rsf:id="preview_created_by"> Robert Alan (Oct 1, 2007 4:09 pm)</td>
				</tr>
				<tr>
					<th rsf:id="msg=assignment2.assignment_preview.modified">Modified</th>
					<td rsf:id="preview_modified">Oct 1, 2007 4:09 pm</td>
				</tr>
				<tr>
					<th rsf:id="msg=assignment2.assignment_preview.open_date">Open</th>
					<td rsf:id="preview_open_date">Jun 1, 2007 12:00 pm</td>
				</tr>
				<tr>
					<th rsf:id="msg=assignment2.assignment_preview.due_date">Due</th>
					<td rsf:id="preview_due_date">Jun 8, 2007 5:00 pm</td>
				</tr>
				<tr>
					<th rsf:id="msg=assignment2.assignment_preview.accept_until">Accept Until</th>
					<td rsf:id="preview_accept_until">Jun 8, 2007 5:00 pm</td>
				</tr>
				<tr>
					<th rsf:id="msg=assignment2.assignment_preview.submission_type">Student Submissions</th>
					<td rsf:id="preview_submission_type">Inline and Attachments</td>
				</tr>
				<tr>
					<th rsf:id="msg=assignment2.assignment_preview.graded">Graded?</th>
					<td rsf:id="preview_graded">Points (max 200.0)</td>
				</tr>
				<!-- 
				<tr>
					<th rsf:id="msg=assignment2.assignment_preview.calendar">Add due date to Calendar?</th>
					<td rsf:id="calendar">No</td>
				</tr>
				-->
				<tr>
					<th rsf:id="announcement_label">Announce the open date?</th>
					<td rsf:id="preview_announcement">No</td>
				</tr>
				<tr>
					<th rsf:id="msg=assignment2.assignment_preview.honor_pledge">Honor pledge?</th>
					<td rsf:id="preview_honor_pledge">Not required</td>
				</tr>
				<tr>
					<th rsf:id="msg=assignment2.assignment_preview.gradebook">Linked to Gradebook Assignment?</th>
					<td rsf:id="preview_gradebook">Final</td>
				</tr>
			</table>

		<h4 rsf:id="msv=assignment2.assignment_preview.assignment_instructions_heading">Assignment Instructions</h4>
			<div rsf:id="preview_instructions" class="textPanel">Testing linkage from assignments to gradebook.</div>
	
	
	
			<p class="discTria">
				<img src="/sakai-assignment2-tool/content/images/collapse.png" border="0" alt="Show student view" class="pointer" />
				<span rsf:id="msg=assignment2.assignment_preview.student_view">Student View</span>
			</p>
	
			<div class="inopPanel">
				<h4 rsf:id="student_view_title">[Assignment title]</h4>
		
				<table class="itemSummary" summary="Assignment settings.">
					<tr>
						<th rsf:id="msg=assignment2.assignment_preview.student_view.due">Due</th>
						<td rsf:id="student_view_due_date">Jun 8, 2007 5:00 pm</td>
					</tr>
					<tr>
						<th rsf:id="msg=assignment2.assignment_preview.student_view.status">Status</th>
						<td rsf:id="student_view_status">Closed</td>
					</tr>
					<tr>
						<th rsf:id="msg=assignment2.assignment_preview.student_view.grade">Grade Scale</th>
						<td rsf:id="student_view_grade">Points (max 200.0)</td>
					</tr>
				</table>
		
				<h4 rsf:id="msg=assignment2.assignment_preview.student_view.instructions">Assignment Instructions</h4>
				<div rsf:id="student_view_instructions" class="textPanel">Testing linkage from assignments to gradebook.</div>
		
				<h4 rsf:id="msg=assignment2.assignment_preview.student_view.start">Start assignment</h4>
				<p rsf:id="msg=assignment2.assignment_preview.student_view.start_instructions" class="instruction">This assignment allows both typed in text and/or attached documents.Type in your comments in the box below, and use the Add Attachments button to include other documents as part of your submission. Save frequently while working.</p>
		
				<textarea cols="80" rows="8" wrap="virtual" name="textarea" id="textarea" disabled="disabled">&nbsp;</textarea>						
		
				<fieldset>
					<legend rsf:id="msg=assignment2.assignment_preview.student_view.attachments">Attachments</legend>
					<ol>
						<li rsf:id="attachment_list:"></li>
					</ol>
				</fieldset>
			</div>
</div>