<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:rsf="http://ponder.org.uk/rsf" xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

   <title rsf:id="page-title">Assignments</title>

	<script type="text/javascript" src="/library/editor/FCKeditor/fckeditor.js"></script> 

	<link href="/library/skin/tool_base.css" type="text/css" rel="stylesheet" media="all"/>
    <link href="/library/skin/default/tool.css" type="text/css" rel="stylesheet" media="all"/>
    <script type="text/javascript" language="JavaScript" src="/sakai-assignment2-tool/content/js/jquery-1.2.1.js"></script>
    <script type="text/javascript" language="JavaScript" src="/library/js/headscripts.js"></script>
    <script type="text/javascript" language="JavaScript" src="/sakai-assignment2-tool/content/js/assignment.js"></script>
	<link href="/sakai-assignment2-tool/content/css/assignmentsv4.css" type="text/css" rel="stylesheet" media="all" />
	<script type="text/javascript" src="/sakai-assignment2-tool/content/js/assignment.js"></script>
	<script type="text/javascript" language="JavaScript" src="/sakai-assignment2-tool/content/js/thickbox.js"></script>
	<script type="text/javascript" language="JavaScript" src="/sakai-assignment2-tool/content/js/jquery.color.js"></script>
	<link href="/sakai-assignment2-tool/content/css/thickbox.css" type="text/css" rel="stylesheet" media="all" />

</head>

<body>

<div class="portletBody">
	
	<ul class="breadCrumb">
		<li><a rsf:id="breadcrumb">Assignment List</a></li>
		<li><a rsf:id="breadcrumb2">View Submissions for "{0}"</a></li>
		<li rsf:id="last_breadcrumb" class="lastCrumb">Submissions for "{0}"</li>
	</ul>

	<div class="generalErrors">
		<ul rsf:id="message-for:*" style="margin:0px;">
			<li>Message for user here</li>
		</ul>
	</div>

	<form rsf:id="form" method="post">

	<ul class="navIntraTool" rsf:id="navIntraTool">
		<li>
			<input rsf:id="release_all_feedback" type="submit" />
		</li>
	</ul>

	<table class="itemSummary" cellspacing="0" summary="Assignment Details">
		<tr>
			<th rsf:id="msg=assignment2.assignment_grade.details.student">Student</th>
			<td rsf:id="details_student">Alan, Rob</td>
		</tr>
		<tr>
			<th rsf:id="msg=assignment2.assignment_grade.details.submitted_date">Submitted Date</th>
			<td rsf:id="details_submitted_date">Sep 04, 2007 11:00 am</td>
		</tr>
		<tr>
			<th rsf:id="msg=assignment2.assignment_grade.details.status">Status</th>	
			<td rsf:id="details_status">Ungraded</td>
		</tr>
	</table>

	<p class="discTria">
		<img src="/sakai-assignment2-tool/content/images/expand.png" border="0" alt="Open, click to close assignment instruction" style="cursor:pointer" 
			onclick="slide_details(this)" /> 
		<span rsf:id="msg=assignment2.assignment_grade.assignment_instructions" style="cursor:pointer" onclick="slide_details($(this).prev('img').get(0))">Assignment Instructions</span>
	</p>	
	<div id="assignment_instructions" style="display:none">
		<div rsf:id="assignment_instructions" class="textPanel"></div>
	</div>

	<h4 rsf:id="msg=assignment2.assignment_grade.additional_resources">Additional resources for assignment</h4>

	<ul class="attachList indnt1">
		<li rsf:id="assignment_attachment_list:">
			<img src="/sakai-assignment2-tool/content/images/page_white_word.png" target="_blank" width="16" height="16"/> <a href="">ExampleAttachment.doc</a> (52 KB)
		</li>
	</ul>
	
	<!-- Grading Stuff -->
	<div id="gradebook-details-container">
	<fieldset rsf:id="gradebook_details:" class="highlightPanel">
	</fieldset>
	</div>
	<!-- /End Grading Stuff -->


	<h3 rsf:id="msg=assignment2.assignment_grade.assignment_submission">Assignment Submission</h3>
	<p rsf:id="current_is_draft" class="infoPanel">Current Submission In Progress</p>
	<p rsf:id="editing_previous_submission" class="infoPanel">Currently Editing a Previous Submission</p>
	<fieldset rsf:id="submitted_text_fieldset">
		<legend rsf:id="msg=assignment2.assignment_grade.annotated_submitted_text">Annotated Submitted Text</legend>
		<ol>
			<li>
				<label rsf:id="feedback_instructions" class="block instruction">Below is the submission from a student. You can insert comments into this text by clicking in the box, then type your comments. Comments surrounded by double curly braces, {{<span class="highlight">like this</span>}}, will appear red to the student.</label>
				<div rsf:id="feedback_text:">
					<textarea name="something" cols="80" rows="20" wrap="virtual"></textarea>
					<!-- this should be the FCKEditor -->
				</div>		
			</li>
		</ol>
	</fieldset>
	<fieldset rsf:id="submitted_attachments_fieldset">
		<legend rsf:id="msg=assignment2.assignment_grade.submitted_attachments">Submitted Attachments</legend>
		<ol class="attachList indnt1">
			<li rsf:id="submitted_attachment_list:">
				<img src="/sakai-assignment2-tool/content/images/page_white_word.png" target="_blank" width="16" height="16"/> <a href="">ExampleAttachment.doc</a> (52 KB)
			</li>
		</ol>
	</fieldset>
	<fieldset>
		<legend rsf:id="msg=assignment2.assignment_grade.feedback_notes">Feedback Notes</legend>
		<ol>
			<li>
				<label rsf:id="msg=assignment2.assignment_grade.feedback_notes_instructions" class="block instruction">Add Comments Here</label>
				<div rsf:id="feedback_notes:">
					<textarea name="something" cols="80" rows="20" wrap="virtual"></textarea>
					<!-- this should be the FCKEditor -->
				</div>		
			</li>
		</ol>
	</fieldset>
	<fieldset>
		<legend rsf:id="msg=assignment2.assignemnt_grade.attachments_to_return_with_grade">Attachments To Return With Grade</legend>
		<ol id="fragment-attachments-container">
			<li rsf:id="attachment_list:"></li>
		</ol>
		<ol>
			<li>
				<a rsf:id="add_attachments" class="thickbox">Add Attachments</a>
			</li>
		</ol>
	</fieldset>

	<fieldset>
		<ol>
			<li>
				<fieldset>
					<ol>
						<li><input rsf:id="release_feedback" type="checkbox" /><label rsf:id="release_feedback_label">Release this Feedback</label></li>
					</ol>
				</fieldset>
			</li>
		</ol>
	</fieldset>
	
	<!-- Allow Resubmissions -->
	<fieldset>
		<legend rsf:id="msg=assignment2.assignment_grade.allow_resubmission">Allowed Resubmissions</legend>
		<ol>
			<li><input rsf:id="allow_resubmit" type="checkbox" onclick="update_allow_resub()" /> <label rsf:id="allow_resubmit_label">Allow Resubmission</label></li>
			<li class="allow_resubmit_toggle">
				<p class="shorttext">
					<label rsf:id="msg=assignment2.assignment_grade.total_submissions">Assignment Total Submissions</label>
					<span rsf:id="assignment_total_submissions">3</span>
				</p>
				<p class="shorttext">
					<label rsf:id="msg=assignment2.assignment_grade.assignment_submit_until">Assignment Submit Until</label>
					<span rsf:id="assignment_submit_until">10/2/08</span>
				</p>
				<p class="shorttext">
					<label rsf:id="msg=assignment2.assignment_grade.allow_number">New Number of Total Submissions</label>
					<select rsf:id="number_submissions"></select>
				</p>
			</li>
			<li>
				<fieldset>
					<ol>
						<li><input rsf:id="resubmit_until" type="checkbox" onclick="update_resubmit_until()" /> <label rsf:id="resubmit_until_label">Allow Resubmission</label></li>
						<li class="resubmit_until_toggle">
							<p class="shorttext"><label rsf:id="msg=assignment2.assignment_grade.accept_until" for="new_assignment_closemonth">Accept Until</label>
								<input rsf:id="accept_until:" />
							</p>
						</li>
					</ol>
				</fieldset>
			</li>
		</ol>
	</fieldset>
	<!-- /Allow Resubmissions -->
	
	<!-- Begin Loop for previous submissions -->
	<h3 rsf:id="msg=assignment2.assignment_grade.previous_submissions">Previous Submissions</h3>
	<p rsf:id="no_history" class="infoPanel">No Submissions Yet</p>
	<fieldset rsf:id="previous_submissions:" class="highlightPanel">
		<h4>
			<img src="/sakai-assignment2-tool/content/images/expand.png" border="0" alt="Open, click to close assignment instruction" style="cursor:pointer" 
				onclick="slide_submission(this)" /> 
			<span rsf:id="loop_submission" style="cursor:pointer" onclick="slide_submission($(this).prev('img').get(0))">Submission</span>
			<a href="" rsf:id="loop_edit_submission">Edit Submission</a>
			<span rsf:id="currently_editing"></span>
		</h4>
		<div style="display:none" class="indent">
			<table class="itemSummary" cellspacing="0">
				<tr>
					<th rsf:id="msg=assignment2.assignment_grade.submitted_text">Submitted Text</th>
				</tr>
				<tr>
					<td rsf:id="loop_submitted_text"></td>
				</tr>
				<tr>
					<th rsf:id="msg=assignment2.assignment_grade.annotated_submitted_text">Annotated Submitted Text</th>
				</tr>
				<tr>
					<td rsf:id="loop_feedback_text"></td>
				</tr>
				<tr>
					<th rsf:id="msg=assignment2.assignment_grade.submitted_attachments">Submitted Attachments</th>
				</tr>
				<tr>
					<td>
						<ol class="attachlist indnt1">
							<li rsf:id="loop_submitted_attachment_list:"></li>
						</ol>
					</td>
				</tr>
				<tr>
					<th rsf:id="msg=assignment2.assignment_grade.loop_feedback_notes">Feedback Notes</th>
				</tr>
				<tr>
					<td rsf:id="loop_feedback_notes"></td>
				</tr>
				<tr>
					<th rsf:id="msg=assignment2.assignemnt_grade.attachments_to_return_with_grade">Attachments To Return With Grade</th>
				</tr>
				<tr>
					<td>
						<ol class="attachlist indnt1">
							<li rsf:id="loop_returned_attachment_list:"></li>
						</ol>
					</td>
				</tr>
				<tr>
					<td rsf:id="feedback_updated"></td>
				</tr>
			</table>
		</div>
	</fieldset>
	<!-- /End Loop for previous submissions -->
	
	<fieldset class="submit">
		<input rsf:id="submit" accesskey="s" type="submit" class="active" name="save" value="Save"/>
		<input rsf:id="preview" accesskey="v" type="button" name="preview" value="Preview" class="preview_button thickbox" title="Preview" />
		<input rsf:id="cancel" accesskey="x" type="submit" name="cancel" value="Cancel"/>
	</fieldset>
	</form>
</div>
<script type="text/javascript" rsf:id="iframeId_init">
//set in producer
</script>
<script type="text/javascript">
//<![CDATA[
function slide_details(img){
	$('#assignment_instructions').toggle();
	a2SetMainFrameHeight();
	if(img.src.match('collapse')){
		img.src=img.src.replace(/collapse/, 'expand');
	}else{
		img.src=img.src.replace(/expand/, 'collapse');
	}
}
function slide_submission(img){
	$(img).parent('h4').next('div').toggle();
	a2SetMainFrameHeight();
	if(img.src.match('collapse')){
		img.src=img.src.replace(/collapse/, 'expand');
	}else{
		img.src=img.src.replace(/expand/, 'collapse');
	}
}
//]]>
</script>
<script type="text/javascript" rsf:id="attachment-ajax-init">
//done in producer
// otpkey = some value
</script>
<script type="text/javascript">
//<![CDATA[
function refresh_ajax(){
	if(fragAttachPath != ""){
		old=$("#fragment-attachments-container").html();
		$("#fragment-attachments-container").load(fragAttachPath + "?otpkey=" + otpkey + "&attachmentSetType=2&remove=true", function(){
			if(old != $("#fragment-attachments-container").html())
				highlight($("#fragment-attachments-container"));
		});
	}
	if(fragGBDetailsPath != ""){
		old = $("#gradebook-details-container fieldset").html();
		$("#gradebook-details-container").load(fragGBDetailsPath + "?assignmentId=" + assignmentId + "&userId=" + userId, {}, 
			function(){
				tb_init('a.thickbox, area.thickbox, input.thickbox');
				if (old != $("#gradebook-details-container fieldset").html())
					highlight($("#gradebook-details-container fieldset"));
			});
	}
}
//]]>
</script>
</body>
</html>