<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:rsf="http://ponder.org.uk/rsf" xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

   <title rsf:id="msg=assignment2.title">Assignments</title>
    <link href="/library/skin/tool_base.css" type="text/css" rel="stylesheet" media="all"/>
    <link href="/library/skin/default/tool.css" type="text/css" rel="stylesheet" media="all"/>
	<link href="/sakai-assignment2-tool/content/css/assignmentsv4.css" type="text/css" rel="stylesheet" media="all" />
</head>

<body>
<!--  everything outside of rsf:id="page:" is set in Layout.html using outerPageTemplates -->

<div rsf:id="page:" class="portletBody">
	
	<ul class="breadCrumb">
		<li><a rsf:id="breadcrumb">Assignment List</a></li>
		<li><a rsf:id="breadcrumb2">View Submissions for "{0}"</a></li>
		<li rsf:id="last_breadcrumb" class="lastCrumb">Submissions for "{0}"</li>
	</ul>

	<div class="generalErrors">
		<ul rsf:id="message-for:*" style="margin:0px;">
			<li>Message for user here</li>
		</ul>
	</div>

	<form rsf:id="form" method="post">

	<h3 rsf:id="heading">Submission for Name</h3>

	<p rsf:id="status" class="subheading"></p>
	
	<p rsf:id="non-electronic-submission" class="subheading"></p>
	
	
	<a rsf:id="view_assignment_instructions" class="thickbox">View Assignment Instructions</a>
	
<!-- 
	<h3 rsf:id="msg=assignment2.assignment_grade.assignment_submission">Assignment Submission</h3>
	<p rsf:id="current_is_draft" class="infoPanel">Current Submission In Progress</p>
	<p rsf:id="editing_previous_submission" class="infoPanel">Currently Editing a Previous Submission</p>
-->
	<fieldset rsf:id="submitted_text_fieldset">
		<legend rsf:id="msg=assignment2.assignment_grade.annotated_submitted_text">Inline Text</legend>
		<ol>
			<li>
				<label rsf:id="msg=assignment2.assignment_grade.feedback_instructions" class="block instruction">Below is the submission from a student. You can insert comments into this text by clicking in the box, then type your comments. Comments surrounded by double curly braces, {{<span class="highlight">like this</span>}}, will appear red to the student.</label>
				<div rsf:id="feedback_text:">
					<textarea name="something" cols="80" rows="20" wrap="virtual"></textarea>
					<!-- this should be the FCKEditor -->
				</div>
				<p rsf:id="feedback_text_no_edit"></p>
			</li>
		</ol>
	</fieldset>
	<fieldset rsf:id="submitted_attachments_fieldset">
		<legend rsf:id="msg=assignment2.assignment_grade.submitted_attachments">Attachments</legend>
		<ol class="attachList indnt1">
			<li rsf:id="submitted_attachment_list:">
				<img src="/sakai-assignment2-tool/content/images/page_white_word.png" target="_blank" width="16" height="16"/> <a href="">ExampleAttachment.doc</a> (52 KB)
			</li>
		</ol>
        <span rsf:id="no_submitted_attachments" class="instruction no_attachments_yet">No attachments yet</span>
	</fieldset>
	<fieldset>
		<legend>
			<img src="/sakai-assignment2-tool/content/images/expand.png" border="0" alt="Open, click to close assignment instruction" style="cursor:pointer" 
				onclick="slideDiv(this)" />
			<span rsf:id="msg=assignment2.assignment_grade.feedback" onclick="slideDiv(jQuery(this).prev('img').get(0));" style="cursor:pointer">Feedback</span>
		</legend>
		<div style="display: none;">
			<div>
                <p rsf:id="msg=assignment2.assignment_grade.feedback_notes" class="subgroupHeading">Additional Feedback</p>
				<textarea  rsf:id="feedback_notes:" name="something" cols="80" rows="20" wrap="virtual"></textarea>
				<!-- this should be the FCKEditor -->
			</div>	

			<div id="attachmentsFieldset">
				<p rsf:id="msg=assignment2.assignment_grade.feedback_attachments" class="subgroupHeading">Attachments</p>
				<ol rsf:id="attachment_list:">
					<li></li>
				</ol>
				<span><a rsf:id="add_attachments" class="thickbox">Add Attachments</a></span>
			</div>
		</div>
	</fieldset>

	<!-- Allow Resubmissions -->
	<fieldset rsf:id="resubmission_settings">
		<legend>
			<img src="/sakai-assignment2-tool/content/images/expand.png" border="0" alt="Open, click to close assignment instruction" style="cursor:pointer" 
				onclick="slideFieldset(this)" />
			<span rsf:id="msg=assignment2.assignment_grade.allow_resubmission" onclick="slideFieldset(jQuery(this).prev('img').get(0));" style="cursor:pointer">Resubmissions</span>
		</legend>
		<ol style="display:none">
			<li rsf:id="resubmit_change">
                <input id="override_settings" rsf:id="override_settings" type="checkbox" />
                <label for="override_settings" rsf:id="msg=assignment2.assignment_grade.override_settings">Override assignment-level settings?</label>
                <div id="override_settings_container">
                    <fieldset>
                        <ol>
                            <li>
                                <span rsf:id="resubmission_curr_submissions">This assignment has 2 submissions.</span>
                            </li>
                            <li>
                                <label rsf:id="msg=assignment2.assignment_grade.resubmission_allow_number">Additional Allowed Submissions Blah</label>
                                <select rsf:id="resubmission_additional"></select>
                            </li>
                            <li>
                                <input id="require_accept_until" rsf:id="require_accept_until" type="checkbox" />
                                <label for="require_accept_until" rsf:id="msg=assignment2.assignment_grade.resubmission_accept_until">Set Accept Until Date? Blah</label>
                                <span id="accept_until_container">
                                    <input id="accept_until" rsf:id="accept_until:" value="12/31/2007"/>
                                </span>                      
                            </li>
                        </ol>
                    </fieldset>
				</div>
			</li>
			<li rsf:id="resubmit_no_change"></li>
		</ol>
	</fieldset>
	<!-- /Allow Resubmissions -->
	
	<fieldset rsf:id="submission-history-area">
		<legend>
			<img src="/sakai-assignment2-tool/content/images/expand.png" border="0" alt="Open, click to close assignment instruction" style="cursor:pointer" 
				onclick="slideFieldset(this)" />
			<span rsf:id="msg=assignment2.assignment_grade.history" onclick="slideFieldset(jQuery(this).prev('img').get(0));" style="cursor:pointer">History</span>
		</legend>
		<ol style="display:none">
			<li rsf:id="previous_submissions:">
				<span rsf:id="previous_date"></span>
				<span rsf:id="current_version">Current Version</span>
				﻿<a rsf:id="previous_link" onclick="jQuery(this).siblings('input').get(0).click(); return false;">View Submission</a>
				<input type="submit" style="display: none" rsf:id="save_and_edit_version_button" value="Save And Edit Another" />
			</li>
		</ol>
		
	</fieldset>
	
	<!-- Grading Stuff -->
	<div id="gradebook-details-container">
	<fieldset rsf:id="gradebook_details:" class="highlightPanel">
	</fieldset>
	</div>
	<!-- /End Grading Stuff -->
	
	
	<fieldset class="submit">
		<input rsf:id="submit" accesskey="s" type="submit" class="active" name="save" value="Save"/>
	    <input rsf:id="release_feedback" type="submit" />
		<input rsf:id="preview" accesskey="v" type="button" name="preview" value="Preview" class="preview_button thickbox" title="Preview" />
		<input rsf:id="cancel" accesskey="x" type="submit" name="cancel" value="Cancel"/>
	</fieldset>
	</form>

<script type="text/javascript" rsf:id="attachment-ajax-init">
//done in producer
// otpkey = some value
</script>
<script type="text/javascript">
//<![CDATA[
function refresh_ajax(){
	if(fragGBDetailsPath != ""){
		old = jQuery("#gradebook-details-container fieldset").html();
		jQuery.ajax({
			type: "get",
			cache: false,
			url: fragGBDetailsPath + "?assignmentId=" + assignmentId + "&userId=" + userId,
			success: function(html){
    		    if (old != null) {
    				jQuery("#gradebook-details-container").html(html.substring(html.indexOf('<div>') + 5, html.lastIndexOf('</div>')));
    				tb_init('a.thickbox, area.thickbox, input.thickbox');
    				if (old != jQuery("#gradebook-details-container fieldset").html())
    					highlight(jQuery("#gradebook-details-container fieldset"));
    		    }
			}
		});
	}
}

jQuery(document).ready(function(){
    //Init override assignment-level resubmission checkbox
    jQuery("input[name='page-replace\:\:override_settings']").each(function(){
        this.onclick = override_submission_settings;
    });
    override_submission_settings();
    
    //Init resubmission set accept until checkbox
    jQuery("input[name='page-replace\:\:require_accept_until']").each(function(){
        this.onclick = set_accept_until_on_submission_level;
    });
    set_accept_until_on_submission_level();
});

// See ASNN-300
//function FCKeditor_OnComplete( editorInstance )
//{
//	if (editorInstance.Name.match('feedback_text:')) {
//       editorInstance.Commands.GetCommand('TextColor').SetColor('red');
//        editorInstance.Commands.GetCommand('Italic').Execute();
//	}
//}
//]]>

</script>
</div>
</body>
</html>