<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>Submissions [Instructor]</title>
	<link rel='stylesheet' type='text/css' href='../css/asnn_assignment_authoring.css' />
	<script src='../js/jquery-1.2.3.min.js' type='text/javascript'></script>
	<script src='../js/ejs_0.9_alpha_1_production.js' type='text/javascript'></script>
	<script src='../js/jquery.tablesorter.min.js' type='text/javascript'></script>
	<script src='../js/jquery.dimensions.min.js' type='text/javascript'></script>
	<script src='../js/jquery.ui-1.5b2/minified-javascript/ui.base.min.js' type='text/javascript'></script>
	<script src='../js/jquery.ui-1.5b2/minified-javascript/ui.accordion.min.js' type='text/javascript'></script>
	<script src='../js/list_common.js' type='text/javascript'></script>

	<script src='../js/inst_sub_list.js' type='text/javascript'></script>
</head>

<body>

<div id="wrapper">
<div id="widget-pane">

	<!-- SUBMITTED WIDGET -->
	<div id="widget-container">
	<div id="widget-content">

		<div id='submittedList' class='clear widget-instance'>

			<!-- header for submitted list -->
			<div id='submittedHeader' class='widget-instance-head'>
				<div class="widget-instance-head-left">
					<ul>
						<li><a href='#' id='submittedTwisty' class='twisty'><img src='../images/widget1-arrow.png' alt='Drafts' /></a>&nbsp;Submitted</li>
					</ul>
			    </div>
			    <div class="widget-instance-head-right">
					<ul>
						<li class="widget-instance-last"><a href=''><img src="../images/icons/arrow_down.png" alt="" />Return all Feedback</a> | </li>
						<li class="widget-instance-last"><a href=''>Upload</a> | </li>
						<li class="widget-instance-last"><a href="">Download</a> | </li>
					</ul>
			    </div>
    		</div>
			<!-- end header -->

			<!-- tabular list -->
			<div id="submittedList" class="widget-instance-content">
				<div class="widget-instance-content-in listArea">
					<table id='submittedAssns' cellspacing="0" border="0" class="tool-menu listTable tablesorter">
						<thead>
							<tr class='headerRow'>
								<th>Name</th>
								<th>Due Date</th>
								<th>Submitted Date</th>
								<th>Groups</th>
								<th>Feedback</th>
							</tr>
						</thead>
						<tbody id="draft_out"></tbody>
							<textarea id="draft_template" class="template">
								[% for (var i=0; i<drafts.length; i++) { %]
									<tr class='dataRow'>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
								[% } %]
							</textarea>
					</table>
				</div>
			</div>
			<!-- end tabular list -->

		</div>

		</div>
	</div>
	<div class='clear'></div>
	<!-- END SUBMITTED WIDGET -->

	<!-- RETURNED WIDGET -->
	<div id="widget-container">
	<div id="widget-content">

		<div id='returnedList' class='clear widget-instance'>

			<!-- header for returned list -->
			<div id='returnedHeader' class='widget-instance-head'>
				<div class="widget-instance-head-left">
					<ul>
						<li><a href='#' id='draftsTwisty' class='twisty'><img src='../images/widget1-arrow.png' alt='Returned' /></a>&nbsp;Returned</li>
					</ul>
			    </div>
			    <div class="widget-instance-head-right">
					<ul>
					</ul>
			    </div>
    		</div>
			<!-- end header -->

			<!-- tabular list -->
			<div id="returnedList" class="widget-instance-content">
				<div class="widget-instance-content-in listArea">
					<table id='returnedAssns' cellspacing="0" border="0" class="tool-menu listTable tablesorter">
						<thead>
							<tr class='headerRow'>
								<th>Name</th>
								<th>Returned On</th>
								<th>Returned By</th>
								<th>Groups</th>
								<th>Feedback</th>
							</tr>
						</thead>
						<tbody id="draft_out"></tbody>
							<textarea id="draft_template" class="template">
								[% for (var i=0; i<drafts.length; i++) { %]
									<tr class='dataRow'>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
								[% } %]
							</textarea>
					</table>
				</div>
			</div>
			<!-- end tabular list -->

		</div>
		<div class='clear'></div>

		</div>
		<div class='clear'></div>
	</div>
	<div class='clear'></div>
	<!-- END RETURNED WIDGET -->

</div>
<!-- END WIDGET PANE -->

	<div id="sidebar">
		<div class="sidebar-content">
			<ul>
				<li class="asnn-menu"><a href="#">Assignment 1</a></li>
				<li class="asnn-menu"><a href="#">Assignment 2</a></li>
				<li class="asnn-menu"><a href="#">Assignment 3</a></li>
			</ul>
		</div><!-- /sidebar-content -->
		<div class='clear'></div>
	</div><!-- /sidebar -->
	<div class='clear'></div>

</div><!-- /wrapper -->

</body>
</html>
