<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<title>Assignments [Instructor]</title>
		<link rel="stylesheet" href="../css/thickbox.css" type="text/css" media="screen" />
		<link rel='stylesheet' type='text/css' href='../css/assn2_hotness.css' />
		<script src='../js/jquery-1.2.3.min.js' type='text/javascript'></script>
		<script src='../js/jquery.tablesorter.min.js' type='text/javascript'></script>
		<script src='../js/thickbox-compressed.js' type='text/javascript'></script>
		<script src='../js/list_common.js' type='text/javascript'></script>
		<script src='../js/inst_assn_list.js' type='text/javascript'></script>
	</head>
	<body>
		<div class='menuBar'>
			<div class='menuItem menuItemOn'>Assignments</div>
			<div class='menuItem'><a href='inst_sub_list.html'>Submissions</a></div>
			<div class='menuItem'>Options</div>
		</div>


		<div class='cleaner'></div>
		<div class='buttons'>
			<a href='newassignment1.html?width=800&amp;height=600&amp;modal=true' class="thickbox"><img src="../images/icons/add.png" alt="" />New</a>
			<a href=''><img src="../images/icons/page_white_copy.png" alt="" />Copy</a>
			<a href=''><img src="../images/icons/page_white_get.png" alt="" />Import</a>
		</div>
		<div id='drafts' class='section'>
			<div id='draftsHeader' class='header'>
				<div class='headerLabel'>
					<a href='#' id='draftsTwisty' class='twisty'><img src='../images/bullet_toggle_minus.png' alt='Drafts' /></a> Drafts
				</div>
			</div>
			<div class='cleaner'></div>
			<div id='draftsList' class='listArea'>
				<table id='draftAssns' class='listTable tablesorter'>
					<thead>
						<tr class='headerRow'>
							<th><input type='checkbox' disabled='disabled' /></th>
							<th>Title</th>
							<th>Sections/Groups</th>
							<th>Open Date</th>
							<th>Due Date</th>
						</tr>
					</thead>
					<tbody>
						<tr class='dataRow'>
							<td><input type='checkbox' /></td>
							<td>Assignment 4 <a href=''><img src="../images/icons/page_white_edit.png" alt="Edit Content" /></a> <a href=''><img src="../images/icons/basket.png" alt="Edit Content" /></a> <a href=''><img src="../images/icons/wrench.png" alt="Edit Content" /></a></td>
							<td>&nbsp;</td>
							<td>03/28</td>
							<td>05/10</td>
							</tr>
						<tr class='dataRow'>
							<td><input type='checkbox' /></td>
							<td>Assignment 5 <a href=''><img src="../images/icons/page_white_edit.png" alt="Edit Content" /></a> <a href=''><img src="../images/icons/basket.png" alt="Edit Content" /></a> <a href=''><img src="../images/icons/wrench.png" alt="Edit Content" /></a></td>
							<td>Section B</td>
							<td>03/29</td>
							<td>05/10</td>
						</tr>
						<tr class='dataRow'>
							<td><input type='checkbox' /></td>
							<td>Assignment 5 <a href=''><img src="../images/icons/page_white_edit.png" alt="Edit Content" /></a> <a href=''><img src="../images/icons/basket.png" alt="Edit Content" /></a> <a href=''><img src="../images/icons/wrench.png" alt="Edit Content" /></a></td>
							<td>Section A</td>
							<td>04/28</td>
							<td>05/10</td>
						</tr>
					</tbody>
				</table>
				<div class='buttons'>
					<a href=''><img src="../images/icons/arrow_down.png" alt="" />Post</a>
				</div>
			</div>
		</div>
		<div id='posted' class='section clear'>
			<div id='postedHeader' class='header'>
				<div class='headerLabel'>
					<a href='#' id='postedTwisty' class='twisty'><img src='../images/bullet_toggle_minus.png' alt='Posted' /></a> Posted
				</div>
			</div>
			<div id='postedList' class='listArea'>
				<table id='postedAssns' class='listTable tablesorter'>
					<thead>
						<tr class='headerRow'>
							<th>Title</th>
							<th>Sections/Groups</th>
							<th>Open Date</th>
							<th>Due Date</th>
						</tr>
					</thead>
					<tbody>
						<tr class='dataRow'>
							<td>Assignment 1 <a href=''><img src="../images/icons/arrow_up.png" alt="To Draft" /></a></td>
							<td>&nbsp;</td>
							<td>03/28</td>
							<td>05/10</td>
						</tr>
						<tr class='dataRow'>
							<td>Assignment 2 <a href=''><img src="../images/icons/arrow_up.png" alt="To Draft" /></a></td>
							<td>&nbsp;</td>
							<td>03/28</td>
							<td>05/10</td>
						</tr>
						<tr class='dataRow'>
							<td>Assignment 3 <a href=''><img src="../images/icons/arrow_up.png" alt="To Draft" /></a></td>
							<td>&nbsp;</td>
							<td>03/28</td>
							<td>05/10</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class='cleaner'></div>
	</body>
</html>
