<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:rsf="http://ponder.org.uk/rsf" xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

   <title rsf:id="msg=assignment2.title">Assignments</title>
    <link href="/library/skin/tool_base.css" type="text/css" rel="stylesheet" media="all"/>
    <link href="/library/skin/default/tool.css" type="text/css" rel="stylesheet" media="all"/>
	<link href="/sakai-assignment2-tool/content/css/assignmentsv4.css" type="text/css" rel="stylesheet" media="all" />
</head>

<body>
<!--  everything outside of rsf:id="page:" is set in Layout.html using outerPageTemplates -->

<div rsf:id="page:" class="portletBody">

	<ul class="breadCrumb">
		<li rsf:id="last_breadcrumb" class="lastCrumb">Last Breadcrumb</li>
		<li class="lastCrumb link"><a rsf:id="settings_link">Settings</a></li>
		<li class="lastCrumb link"><a rsf:id="reorder_link">Reorder</a></li>
	</ul>

	<div class="generalErrors">
		<ul rsf:id="message-for:*" style="margin:0px;">
			<li>Message for user here</li>
		</ul>
	</div>

	<!-- <br /><br /> -->
	
﻿        <!-- TODO FIXME: Something must be cascading against me, as I can't get
	     the class to take hold, which is why the style is hardcoded on this
	     table at the moment -->
	﻿<table id="assignmentTable" rsf:id="assignmentTable" style="border-collapse: collapse; table-layout: fixed; width: 100%;" class="assignmentTable">
		<thead>
			<tr>
				<th width="5%" id="edit-header"> <!-- Edit and Delete -->
				</th>
				<th width="60%" id="title-header"> <!-- Assignment Title -->
					<h3>
              			<span rsf:id="msg=assignment2.list.assignments">Assignment</span>
              			<a rsf:id="add_assignment" href="" class="add_assignment">Add</a>
           			</h3>
				</th>
				<th width="35%" id="submissions-header"> <!-- Submissions Total -->
					<h3 rsf:id="msg=assignment2.list.submissions_total">Submissions</h3>
				</th>
			</tr>
		</thead>
		<tbody id="asnn-table-body">
			<tr class="movable" rsf:id="asnn-row:">
				<td width="5%" headers="edit-header" class="assignmentEditCell">
					<div class="assignmentEdits">
						<a rsf:id="delete-asnn-link" class="assignment_delete" onclick="asnn2.removeAsnnDialog(1); return false;"><img src="/sakai-assignment2-tool/content/images/bin_closed.png" /></a>
						<a rsf:id="assignment_edit">Edit</a>
					</div>
				</td>
				<td width="60%" rsf:id="assignmentInfoCell" class="assignmentInfoCell demarcatedAsnnDisplay" headers="title-header">
					<span rsf:id="assignment_title" class="assignment_title">Assignment 1</span>
              		<span rsf:id="draft" class="draft">draft</span>
              		<span class="duedate"><strong rsf:id="msg=assignment2.list.due_date">DUE:</strong><span rsf:id="assignment_row_due"></span></span>
				</td>
				<td width="35%" headers="submissions-header" class="demarcatedAsnnDisplay">
					<a rsf:id="grade">5/8</a>
              		<span rsf:id="no_submission_req">N/A</span>
				</td>
			</tr>
		</tbody>
	</table>
	
	<ul id="assignmentList">
	  <li class="header">
	     <div>
           <h3 class="left">
              <span rsf:id="msg=assignment2.list.assignments">Assignment</span>
              <a rsf:id="add_assignment" href="" class="add_assignment">Add</a>
           </h3>
           <h3 class="right" rsf:id="submissions_total">
              Submissions Graded/Total
           </h3>
         </div>
	  </li>
	  <li rsf:id="assignment-row:" class="row">
		<div class="container">
			<div class="widget">
				<a rsf:id="delete-asnn-link" class="assignment_delete" onclick="asnn2.removeAsnnDialog(1); return false;"><img src="/sakai-assignment2-tool/content/images/bin_closed.png" /></a>
				<a rsf:id="assignment_edit">Edit</a>
	        </div>
           <div rsf:id="div-left-container" class="left">
              <span rsf:id="assignment_title" class="assignment_title">Assignment 1</span>
              <span rsf:id="draft" class="draft">draft</span>
              <span class="duedate"><strong rsf:id="msg=assignment2.list.due_date">DUE:</strong><span rsf:id="assignment_row_due"></span></span>
           </div>
           <div class="right">
              <a rsf:id="grade">5/8</a>
              <span rsf:id="no_submission_req">N/A</span>
           </div>
        </div>
		</li>
	</ul>
	<p rsf:id="no-assignments-message">There are currently no assignments at this location. Click 'Add' to add an assignment.</p>
	
	<!-- This is the template for the Confirm Asnn Remove Dialog. -->
	<div id="remove-asnn-dialog" style="display:none">
	    <div class="generalErrors">
	       <ul style="margin:0;padding:0;display:inline;">
	          <li class="alertMessageInline" rsf:id="msg=assignment2.remove.assn.confirm">Are you sure you want to remove the following assignment and any associated submissions?</li>
	       </ul>
	    </div>
		<table class="listHier lines" > <!--  rsf:id="assignment-list-table" > -->
			<tr> 
				<th rsf:id="msg=assignment2.remove.assn.header.title">Assignment Title</th>
				<th rsf:id="msg=assignment2.remove.assn.header.due">Due</th>
				<th rsf:id="msg=assignment2.remove.assn.header.submissions">Submissions</th>
			</tr>
			<tr>
				<td id="asnn-to-delete-title">Homework 1</td>
				<td id="asnn-to-delete-due">Mar 26, 2008 5:00 pm</td>
				<td id="asnn-to-delete-numsubmissions">1</td>
			</tr>
		</table>
		<fieldset class="submit">
			<input rsf:id="msg=assignment2.remove.assn.button.remove" id="remove-asnn-button" accesskey="r" type="button" class="remove-button active" value="Post" />
			<input rsf:id="msg=assignment2.remove.assn.button.cancel" id="cancel-remove-asnn-button" class="cancel-button" accesskey="x" type="button" value="Cancel" />
		</fieldset>
	</div>
	
	<script rsf:id="edit-setup-javascript" type="text/javascript">
	//<![CDATA[

	 
	

	// OLD List sorting
	jQuery("#assignmentList").sortable({items: ">li.row", axis: "y", containment: "parent", update: saveSortables});
	
	
	
	jQuery("#assignmentList div.widget").hide();
	jQuery("#assignmentList li.row").hover(function(){ 
	    if (!jQuery("div.overlayMessage", this).get(0)) {
	        jQuery("div.widget", this).show();
	    }
	}, function() {
	    jQuery("div.widget", this).hide();
	});

	jQuery(document).ready(function(){
	    jQuery("input.delete_replace").each(function(){
	        jQuery(this).hide();
	        that = this;
	        jQuery(this).prev("a.assignment_delete")[0].onclick = postFormAjax;
	        jQuery(this).prev("a.assignment_delete").show();
	    });
	});

	function postFormAjax() {
	    var params = {};
	    form = jQuery(this).parents("form:first").get(0);
	    li = jQuery(this).parents("li.row:first").get(0);
	    jQuery("input", form).each(function(){params[this.name] = this.value});
	    jQuery.post(form.getAttribute("action") + "?call=ajax", params, function(xml) {
	        body = xml.substring(xml.indexOf('<body'),
	                xml.lastIndexOf('</body>') + 7);
	        div = body.substring(body.indexOf('<div'),
	                body.lastIndexOf('</div>') + 6);
	        jQuery(li).append('<div class="overlay"></div></div><div class="overlayMessage">' + div + '</div>');
	        jQuery("div.overlay", li).css('opacity',.60);
	        jQuery(".success", li).css('opacity',1);
	        setTimeout(function(){  jQuery(li).fadeOut("slow"); }, 5000);
	    });
	}

	function saveSortables() {
	    var serialize = jQuery("#assignmentList").sortable("serialize", {attribute: "className"});
	    asnn2.saveOrdering(serialize);
	}

	// Assignment Table
	asnn2listpage.setupAsnnList();
	

	//]]>
	</script>
	
	</div>
</body>
</html>