<div class="steps">
	<a href="newassignment1.html?width=800&amp;height=600&amp;modal=true" class="thickbox"> Assignment Content</a> |
	<a href="newassignment2.html?width=800&amp;height=600&amp;modal=true" class="thickbox"> Submission Handling</a> | Other Options
</div>
<div>
	<form action="#">
		<div class="section">
			<div class="prompt">
				<h4>
					Resubmissions:
				</h4>
			</div>
			<div class="input">
				<p>
					<input type="radio" name="resubmissions" id="perpetual" checked="checked" />
					<label for="dontSend">Submitters can resubmit as often as they like while the Assignment remains open</label>
				</p>
				<p>
					<input type="radio" name="resubmissions" id="oneSubmit" />
					<label for="oneSubmit">Submitters can submit once and only once</label>
				</p>
				<p>
					<input type="radio" name="resubmissions" id="resubmitLimit" />
					<label for="resubmitLimit">Submitters can resubmit a set number of times ...</label>
				</p>
			</div>
		</div>
		<div class="section">
			<div class="prompt">
				<h4>
					Notifications:
				</h4>
			</div>
			<div class="input">
				<p>
					<input type="radio" name="notifications" id="dontSend" checked="checked" />
					<label for="dontSend">Do not send me notification emails for any submissions</label>
				</p>
				<p>
					<input type="radio" name="notifications" id="sendEach" />
					<label for="sendEach">Send me a notification email for each submission</label>
				</p>
				<p>
					<input type="radio" name="notifications" id="sendDigest" />
					<label for="sendDigest">
						Send me one email per day summarizing notifications for submissions
					</label>
				</p>
			</div>
		</div>
		<div class="section">
			<div class="prompt">
				<h4>
					Honor Code:
				</h4>
			</div>
			<div class="input">
				<p>
					<input type="radio" name="honorcode" id="noHonor" />
					<label for="noHonor">Submitters will not be obliged to agree to Honor Code</label>
				</p>
				<p>
					<input type="radio" name="honorcode" id="honor" checked="checked" />
					<label for="honor">Submitters will be obliged to agree to Honor Code ...</label>
				</p>
			</div>
		</div>
		<div class="section">
			<div class="prompt">
			</div>
			<div class="input buttons">
				<input type="submit" value="&lt;&lt; Submission Handling" />
				<input type="submit" value="Save as Draft" onclick="tb_remove()" />
				<input type="submit" value="Cancel" onclick="tb_remove()" />
				<input type="submit" value="Post" onclick="tb_remove()" />
			</div>
		</div>
	</form>
</div>
