<div class="steps">
	<a href="newassignment1.html?width=800&amp;height=600&amp;modal=true" class="thickbox">Assignment Content</a> | Submission Handling |
	<a href="newassignment3.html?width=800&amp;height=600&amp;modal=true" class="thickbox"> Other Options</a>
</div>

<div>
	<form action="#">
		<div class="new-asnn-section">
			<div class="new-asnn-prompt">
				<h4>* Submission Method:</h4>
			</div>
			<div class="new-asnn-input">
				<ul>
					<li><input type="radio" name="submissionMethod" id="electronic" value="true" checked="checked" />
					<label for="electronic">Electronic submissions</label></li>
					<li><input type="radio" name="submissionMethod" id="nonelectronic" value="false"/>
					<label for="nonelectronic">Non-electronic submissions</label> <a class="help-prompt" href="">What does this mean?</a></li>
				</ul>
			</div>
			<div class='clear'></div>
		</div>
		<div class="new-asnn-section">
			<div class="new-asnn-prompt">
				<h4>* Open Date:</h4>
			</div>
			<div class="new-asnn-input">
				<ul>
					<li><input type="radio" name="openDateRadio" id="openImmediate" value="true" checked="checked" />
					<label for="electronic">Immediately</label> &nbsp;<a href="">What does this mean?</a></li>
					<li><input type="radio" name="openDateRadio" id="openLater" value="false"/>
					<label for="nonelectronic">Later ...</label></li>
					<div id="openD" class="hidden">
					  	<input type="text" size="10" id="openDate" value="01/01/1970" />
						<input type="text" size="8" id="openTime" value="12:00 PM" />
					</div>
				</ul>


			</div>
			<div class='clear'></div>
		</div>
		<div class="new-asnn-section">
			<div class="new-asnn-prompt">
				<h4> Due Date:</h4>
			</div>
			<div class="new-asnn-input">
				<ul>
					<li><input type="radio" name="dueDateRadio" id="dueDateNo" value="0" checked="checked" />
					<label for="dueDateNo">None&nbsp;</label></li>
					<li><input type="radio" name="dueDateRadio" id="dueDateYes" value="1" />
						<label for="dueDateYes">Set Due Date ...</label></li>
						<div id="dueD" class="hidden">
							<input type="text" size="10" id="dueDate" value="01/01/1970" />
							<input type="text" size="8" id="dueTime" value="12:00 PM" />
							<ul>Accept late submissions?
								<li><input type="radio" name="acceptUntilDateRadio" id="acceptUntilDateYes" value="1" />
									<label for="acceptUntilDateYes">Yes</label></li>
								<li><input type="radio" name="acceptUntilDateRadio" id="acceptUntilDateNo" value="0" checked="checked" />
								<label for="acceptUntilDateNo">No&nbsp;</label></li>
								<div id="acceptD" class="hidden">
									<input type="text" size="10" id="acceptUntilDate" value="01/01/1970" />
									<input type="text" size="8" id="acceptUntilTime" value="12:00 PM" />
								</div>
							</ul>
						</div>
			</div>
			<div class='clear'></div>
		</div>
		<div class="new-asnn-section">
			<div class="new-asnn-prompt">
				<h4>Who will submit:</h4>
			</div>
			<div class="new-asnn-input">
				<ul>
					<li><input type="radio" name="who" id="all" checked="checked" />
					<label for="all">All site participants</label></li>
					<li><input type="radio" name="who" id="selectedGroups" />
					<label for="selectedGroups">Only specific sections or groups ...</label></li>
					<li><input type="radio" name="who" id="groupTeams" />
					<label for="groupTeams">Teams based on specific groups ...</label></li>
					<li class="hidden"><input type="radio" name="who" id="anonymous" />
					<label for="anonymous">Anonymous site participants</label></li>
				</ul>
			</div>
			<div class='clear'></div>
		</div>
		<div id="grading" class="new-asnn-section">
			<div class="new-asnn-prompt">
				<h4>Grading:</h4>
			</div>
			<div class="new-asnn-input">
				<ul>
					<li><input type="radio" name="isGraded" id="newgrade" value="true" checked="checked" />
					<label for="newgrade">Add as Gradebook column</label></li>
					<li><input type="radio" name="isGraded" id="graded" value="false" />
					<label for="graded">Link to existing Gradebook column ...</label></li>
					<li><input type="radio" name="isGraded" id="ungraded" value="false" />
					<label for="ungraded">This assignment will not be graded</label></li>
				</ul>
			</div>
			<div class='clear'></div>
		</div>
		<div class="new-asnn-section">
			<div class="new-asnn-prompt">
			</div>
			<div class="new-asnn-input buttons">
				<input type="submit" name='assignment' value="&lt;&lt; Assignment Content" />
				<input type="submit" name='draft' value="Save as Draft" />
				<input type="button" name='cancel' value="Cancel" onclick="parent.tb_remove()" />
				<input type="submit" name='other' value="Other Options &gt;&gt;" />
			</div>
		</div>
		<div class='clear'></div>
	</div>
	</form>
</div>
