<div class="steps">
	 Assignment Content |
	<a href="newassignment2.html?width=800&amp;height=600&amp;modal=true" class="thickbox"> Submission Handling</a> |
	<a href="newassignment3.html?width=800&amp;height=600&amp;modal=true" class="thickbox"> Other Options</a>
</div>

<div>
	<form action="#">
		<div class="section">
			<div class="prompt">
				<h4>
					* Title:
				</h4>
			</div>
			<div class="input">
				<input type="text" size="80" />
			</div>
		</div>
		<div class="section">
			<div class="prompt">
				<h4>
					* Assignment Instructions:
				</h4>
			</div>
			<div class="input">
				<textarea cols="60" rows="15">FCKEditor goes here</textarea>
			</div>
		</div>
		<div class="section">
			<div class="prompt">
				<h4>
					Attachments:
				</h4>
			</div>
			<div class="input">
				<p>
					No attachments yet
				</p>
				<p>
					<a href="#" class="thickbox">Add attachments</a>
				</p>
			</div>
			<div class="input">
				<p class="buttons">
					<input type="submit" value="Save as Draft" onclick="tb_remove()" />
					<input type="submit" value="Cancel" onclick="tb_remove()" />
					<input type="submit" value="Submission Handling &gt;&gt;" />
				</p>
			</div>
		</div>
	</form>
</div>
