<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

	<title>New Assignment</title>
	<link href="/library/skin/tool_base.css" type="text/css" rel="stylesheet" media="all"/>
	<link href="/library/skin/default/tool.css" type="text/css" rel="stylesheet" media="all"/>
	<link href="../css/assn2_hotness.css" type="text/css" rel="stylesheet" media="all" />
	<script src="../js/jquery-1.2.3.min.js" type="text/javascript"></script>
</head>

<body>
  <div class="breadcrumb">Breadcrumbs/go/here.</div>
  <div class="steps">
    <a href="newassignment1.html">Step1: Assignment Details</a> |
    <a href="newassignment2.html">Step 2: Submission Details</a> |
    Step 3: Other Options
  </div>
  <h2>Options</h2>
	<div>
		<form action="#">
			<div class="section">
				<div class="prompt">
					<h4>
						Access:
					</h4>
				</div>
				<div class="input">
					<p>
						<input type="radio" name="access" id="toSite" checked="checked" />
						<label for="toSite">Display to site</label>
					</p>
					<p>
						<input type="radio" name="access" id="selectedGroup" />
						<label for="selectedGroup">Display to selected groups</label>
					</p>
				</div>
			</div>
			<div class="section">
				<div class="prompt">
					<h4>
						Notifications:
					</h4>
				</div>
				<div class="input">
					<p>
						<input type="radio" name="notifications" id="dontSend" checked="checked" />
						<label for="dontSend">Do not send me notification emails for any student submissions</label>
					</p>
					<p>
						<input type="radio" name="notifications" id="sendEach" />
						<label for="sendEach">Send me a notification email for each student submission</label>
					</p>
					<p>
						<input type="radio" name="notifications" id="sendDigest" />
						<label for="sendDigest">
							Send me one email per day summarizing notifications for student submissions
						</label>
					</p>
				</div>
			</div>
			<div class="section">
				<div class="prompt">
				</div>
				<div class="input buttons">
					<input type="submit" value="&lt;&lt; Step 2" />
					<input type="submit" value="Save as Draft" />
					<input type="submit" value="Cancel" />
					<input type="submit" value="Publish" />
					<input type="submit" value="Preview" />
				</div>
			</div>
		</form>
	</div>
</body>
</html>
