<html>
	<head>
		<link rel='stylesheet' type='text/css' href='../css/asnn_assignment_authoring.css' />

		<script src='../js/jquery-1.2.3.min.js' type='text/javascript'></script>
		<script src='../js/querystring-1.2.4.js' type='text/javascript'></script>
		<script src="/library/editor/FCKeditor/fckeditor.js" type="text/javascript"></script>
		<script src='../js/newassignment1.js' type='text/javascript'></script>
		<script src='../js/fck-inserter.js' type='text/javascript'></script>
	</head>
	<body>
		<div class="steps">
			Assignment Content |
			<a href="#" onclick='jQuery("#next").click()'>Submission Handling</a> |
			<a href="#" onclick='jQuery("#end").click()'>Other Options</a>
		</div>

		<div>
			<form action="/sakai-assignment2-tool/sdata/newAsnn1" method='post'>
				<input type='hidden' name='context' id='context' />
				<input type='hidden' name='id' id='id' />
				<div class="new-asnn-section">
					<div class="new-asnn-prompt">
						<h4>* Title:&nbsp</h4>
					</div>
					<div class="new-asnn-input">
						<input type="text" id='title' name='title' size="80" />
					</div>
				</div>
				<div class="new-asnn-section">
					<div class="new-asnn-prompt">
						<h4>* Instructions:&nbsp</h4>
					</div>
					<div class="new-asnn-input">
						<textarea id='instructions' name='instructions' class='fckeditor' cols="60" rows="15"></textarea>
					</div>
				</div>
				<div class="new-asnn-section">
					<div class="new-asnn-prompt">
						<h4> Attachments:&nbsp</h4>
					</div>
					<div class="new-asnn-input">
						<p> No attachments yet</p>
						<p><a href="#" class="thickbox">Add attachments</a></p>
					</div>
				</div>
				<div class="new-asnn-input buttons">
					<input type="submit" id='draft' name='draft' value="Save as Draft" />
					<input type="button" id='cancel' name='cancel' value="Cancel" onclick="parent.tb_remove()" />
					<input type="submit" id='next' name='next' value="Submission Handling &gt;&gt;" />
					<input type='submit' id='end' name='end' value='Other Options &gt;&gt;&gt;' class='hidden' />
				</div>
			</form>
		</div>
	</body>
</html>
