<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:rsf="http://ponder.org.uk/rsf" xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <title rsf:id="msg=assignment2.title">Assignments</title>
	<link href="/sakai-assignment2-tool/content/css/assignmentsv4.css" type="text/css" rel="stylesheet" media="all" />
</head>

<body>
<!--  everything outside of rsf:id="page:" is set in Layout.html using outerPageTemplates -->

<div rsf:id="page:" class="portletBody">

<p>Hello, this is the OSP Matrix Test page.</p>

<fieldset id="attachmentsFieldset">
		<legend>
			<span rsf:id="msg=assignment2.assignment_add.attachments_legend">Attachments</span>
			<span><a rsf:id="add_attachments" class="thickbox">Add Attachments</a></span>
		</legend>
		<ol class="fragment-attachments-container" rsf:id="attachment_list:">
			<li></li>
		</ol> <!-- 
		<ol>
			<li>
				
			</li>
		</ol> -->
</fieldset>

</div>

</body>

</html>