<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:rsf="http://ponder.org.uk/rsf" xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

   <title rsf:id="msg=assignment2.title">Assignments</title>
    <link href="/library/skin/tool_base.css" type="text/css" rel="stylesheet" media="all"/>
    <link href="/library/skin/default/tool.css" type="text/css" rel="stylesheet" media="all"/>
	<link href="/sakai-assignment2-tool/content/css/assignmentsv4.css" type="text/css" rel="stylesheet" media="all" />
</head>

<body>
<!--  everything outside of rsf:id="page:" is set in Layout.html using outerPageTemplates -->

<div rsf:id="page:" class="portletBody">

	<ul class="breadCrumb">
		<li rsf:id="last_breadcrumb" class="lastCrumb">Last Breadcrumb</li>
	</ul>

	<div class="generalErrors">
		<ul rsf:id="message-for:*" style="margin:0px;">
			<li>Message for user here</li>
		</ul>
	</div>

	<div rsf:id="pagerDiv:" class="listNav"></div>
	<p rsf:id="msg=assignment2.student-assignment-list.instructions" class="instruction">Select an assignment to view details, start working or edit your previous work.</p>

	<div rsf:id="message-for:*" class="debug_info"></div>

	<table class="listHier lines" id="sortable">
		<tr> 
			<!--  <th class="attach">&nbsp;</th> -->
			<!-- For now commenting these out as there's no paging in 
			     current spec -->
			<!-- 
			<th rsf:id="tableheader.assignment:">
			</th>
			<th rsf:id="tableheader.for:">
			</th>
			<th rsf:id="tableheader.status:">
			</th>
			<th rsf:id="tableheader.open:">
			</th>
			<th rsf:id="tableheader.due:">
			</th>
			-->
			<th rsf:id="">To Do</th>
			<th rsf:id="">Assignment Title</th>
			<th rsf:id="">Due</th>
			<th rsf:id="">Feedback</th>
			<th rsf:id="">Grade</th>
		</tr>
		<tr rsf:id="assignment-row:"> 
			<!-- <td headers="attachments" class="attach">
				<img rsf:id="attachments" src="attach.png" width="16" height="16" border="0" />
			</td>
			-->
			<td>
			    <input type="checkbox" />
			</td>
			<td>
			    <h4><a rsf:id="assignment_link" class="title">Homework Example 2</a></h4>
			</td>
			<!--  <td rsf:id="assignment_row_for" class="for">Group 1, Group 2</td> -->
			<!--  <td rsf:id="assignment_row_status" class="status">Not Started</td> -->
			<!-- <td rsf:id="assignment_row_open">Sep 24, 2007 11:00 am</td> -->
			<td rsf:id="assignment_row_due">Oct 1, 2007 6:00 pm</td>
			<td>
			</td>
			<td>N/A</td>
			
			<!-- For the JS Sorting --> 
			<!-- 
			<td class="skip">
				<span class="openDate" rsf:id="open_timestamp"></span>
				<span class="dueDate" rsf:id="due_timestamp"></span>
				<span class="sortIndex" rsf:id="sortIndex"></span>
			</td>
			-->
		</tr>
	</table>
	<div rsf:id="assignment_empty">There are no Assignments yet</div>
	<script type="text/javascript" rsf:id="defaultSortBy">
		defaultSortBy="title"; //done via producer
	</script>
</div>
</body>
</html>