<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

	<title>Submission</title>

	<link href="/library/skin/tool_base.css" type="text/css" rel="stylesheet" media="all"/>
	<link href="/library/skin/default/tool.css" type="text/css" rel="stylesheet" media="all"/>
	<link href="../css/asnn_assignment_authoring.css" type="text/css" rel="stylesheet" media="all" />

	<script src="../js/jquery-1.2.3.min.js" type="text/javascript"></script>
	<script src='../js/querystring-1.2.4.js' type='text/javascript'></script>
	<script src="/library/editor/FCKeditor/fckeditor.js" type="text/javascript"></script>
	<script src='../js/fck-inserter.js' type='text/javascript'></script>
	<script src='../js/trimpath-template-1.0.38.js' type='text/javascript'></script>
	<script src="../js/submissionview.js" type="text/javascript"></script>
</head>

<body>
<div>NavIntraTool goes here</div>
<div class="breadcrumb">breadcrumbs/go/here</div>

<div id="output">output goes here</div>

<pre id='template' class="template">
	<div class="section">
		<div class="toggle"><a href="#" id="assignment-toggle">&ndash;</a></div>
		<div class="title"><h4>${assignment.title}</h4></div>
		<div class="submcontent" id="assignment-content">${assignment.instructions}</div>
	</div>

	<div class="section">
		<div class="toggle"><a href="#" id="history-toggle">&ndash;</a></div>
		<div class="title"><h4>History</h4></div>
		<div class="submcontent" id="history-content">
		{if defined('history')}
			{for h in history}
				<a href="${h.url}">${h.createdDate}</a><br />
			{/for}
		{else}
			No history to show.
		{/if}
		</div>
	</div>
	<!-- 
	<div class="section">
		<div class="toggle"><a href="#" id="drafts-toggle">&ndash;</a></div>
		<div class="title"><h4>Saved Drafts/Pending</h4></div>
		<div class="submcontent" id="drafts-content">
		{if defined('drafts')}
			{for d in drafts}
				<a href="${d.url}">${d.date}</a><br />
			{/for}
		{/if}
		</div>
	</div>
	 -->

	<div class="section">
		<div class="toggle"><a href="#" id="submission-toggle">&ndash;</a></div>
		<div class="title"><h4>Submission</h4></div>
		<div class="submcontent" id="submission-content">
			<p>
				{if editSub}
					<form action="/sakai-assignment2-tool/sdata/subView" method="post">
						<input type="hidden" name="asnnId" value="${assignment.id}" />
						{if defined('versionId')}
						<input type="hidden" name="verId" value="${versionId}" />
						{/if}
						{if defined('submissionId')}
						<input type="hidden" name="subId" value="${submissionId}" />
						{/if}
						<textarea class="fckeditor clear" id="submission" name="submission" cols="80" rows="24">{if defined('submission')}${submission}{/if}</textarea>
						<div>
							<input type="submit" name="draft" value="Save as draft" />
							<input type="button" name="cancel" value="Cancel" onclick="location.href='/sakai-assignment2-tool/content/templates/inst_sub_list.html?context=${assignment.context}&asnnId=${assignment.id}'"/>
							<input type="submit" name="submit" value="Submit" />
						</div>
					</form>
				{elseif defined('submission')}
					${submission}
				{/if}
			</p>
			<p>
				<span class="heading">Attachment(s):</span>
				{if defined('attachments')}
					{for a in attachments}
						<img src="../images/page_word.png" alt="MS Word Document" />
						<a href="${a.url}">${a.id}</a> (${a.size})
					{/for}
				{/if}
			</p>
			<p>
				<span class="heading">Additional Resources:</span>
				{if defined('resources')}
					{for r in resources}
						<a href="${r.url}">${r.url}</a>
					{/for}
				{/if}
			</p>
		</div>
	</div>

	<div class="section">
		<div class="toggle"><a href="#" id="feedback-toggle">&ndash;</a></div>
		<div class="title"><h4>Feedback</h4></div>
		<div class="submcontent" id="feedback-content">
			<form action="#">
				<p>
					{if editFeedback}
						<textarea class="fckeditor" id="feedback" name="feedback" cols="80" rows="24">{if defined('feedback')}${feedback}{/if}</textarea>
						<div>
							Grade: <input type="text" id="grade" name="grade" value="{if defined('grade')}${grade}{/if}" />
						</div>
						<div>
							<input type="submit" value="Save as draft" />
							<input type="submit" value="Cancel" />
							<input type="submit" value="Submit" />
						</div>
					{else}
						{if defined('feedback')}
							${feedback}
						{else}
							Submission has not been reviewed.
						{/if}
					{/if}
				</p>
			</form>
		</div>
	</div>
</pre>
</body>
</html>
