<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:rsf="http://ponder.org.uk/rsf" xmlns=
"http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
	<head>
		<meta http-equiv="Content-Type" content=
		"text/html; charset=UTF-8" />
		<title rsf:id="msg=assignment2.title">
			Assignments
		</title>
		<link href="/library/skin/tool_base.css" type="text/css" rel=
		"stylesheet" media="all" />
		<link href="/library/skin/default/tool.css" type="text/css"
		rel="stylesheet" media="all" />
		<link href=
		"../css/assignmentsv4.css" type=
		"text/css" rel="stylesheet" media="all" />
	</head>
	<body>
		<!--  everything outside of rsf:id="page:" is set in Layout.html using outerPageTemplates -->
		<div rsf:id="page:" class="portletBody">
			<h3 rsf:id="msg=assignment2.uploadall.title">
				Upload All
			</h3>
			<p class="instruction" rsf:id="msg=assignment2.uploadall.instruction">
				Select an archive file to upload, choose options, and then
				click 'Upload' at the bottom.
			</p>
			<p class="instruction">
				<span rsf:id="msg=assignment2.uploadall.fileformat.1">
					The archive file should contain a folder for each student. (
				</span>
				<a href="" title="Download All" rsf:id="downloadtemplate">Download Template</a>
				<span rsf:id="msg=assignment2.uploadall.fileformat.2">
					) Each folder can contain a comments.txt file, the student's
					submission with instructor comments you have added, and
					other files you want to return with the student's
					submission.
				</span>
			</p>
			<form method="post" rsf:id="upload_form">
				<div class="highlightPanel">
					<p class="shorttext">
						<label rsf:id="msg=assignment2.uploadall.file" for="file">File:</label>
						<input type="file" name="file" id="file" class="upload" />
					</p>
					<fieldset>
						<legend rsf:id="msg=assignment2.uploadall.choose-elements">
							Choose which elements in the archive file to upload
						</legend>
						<div class="checkbox indent">
							<div>
								<input rsf:id="studentSubmissionText" id="studentSubmissionText" name="studentSubmissionText" type="checkbox" />
								<label rsf:id="msg=assignment2.uploadall.studentSubmissionText" for="studentSubmissionText">
									Student submission text (original student submitted text, possibly containing instructor added comments)
								</label>
							</div>
							<div>
								<input rsf:id="studentSubmissionAttachment" id="studentSubmissionAttachment" name="studentSubmissionAttachment" type="checkbox" />
								<label rsf:id="msg=assignment2.uploadall.studentSubmissionAttachment" for="studentSubmissionAttachment">
									Student submission attachment(s)
								</label>
							</div>
							<div>
								<input rsf:id="gradeFile" id="gradeFile" name="gradeFile" type="checkbox" />
								<label rsf:id="msg=assignment2.uploadall.gradeFile" for="gradeFile">
									Grade file (grades.csv file at top level of archive)
								</label>
							</div>
							<div>
								<input rsf:id="feedbackTexts" id="feedbackTexts" name="feedbackTexts" type="checkbox" />
								<label rsf:id="msg=assignment2.uploadall.feedbackTexts" for="feedbackTexts">
									Feedback text (the inline comments with student submission)
								</label>
							</div>
							<div>
								<input rsf:id="feedbackComments" id="feedbackComments" name="feedbackComments" type="checkbox" />
								<label rsf:id="msg=assignment2.uploadall.feedbackComments" for="feedbackComments">
									Feedback comments (comments.txt file if available in student's folder. Comments are put into
									the Instructor Comments field for each student's submission)
								</label>
							</div>
							<div>
								<input rsf:id="feedbackAttachments" id="feedbackAttachments" name="feedbackAttachments" type="checkbox" />
								<label rsf:id="msg=assignment2.uploadall.feedbackAttachments" for="feedbackAttachments">
									Feedback attachment(s)
								</label>
							</div>
						</div>
					</fieldset>
					<fieldset>
						<legend rsf:id="msg=assignment2.uploadall.release-option">
							Select release option
						</legend>
						<span rsf:id="releaseSelect">
							<div rsf:id="releaseRow:" class="checkbox indent">
								<input rsf:id="release" type="radio" name="release" id="release" />
								<label rsf:id="releaseLabel" for="release">
									Release uploaded information to students
								</label>
						</div>
						</span>
					</fieldset>
						<p class="act">
							<input rsf:id="uploadButton" type="button" name="uploadButton" id="uploadButton" accesskey="s" value="Upload" />
							<input rsf:id="cancelButton" type="button" name="cancelButton" id="cancelButton" accesskey="x" value="Cancel" />
						</p>
				</div>
			</form>
		</div>
	</body>
</html>

