/* Start Asnn Table Classes */

#asnn-list {
  width: 95%;
}

#asnn-list th {
  text-align: left;
}

.asnntitle {
  font-weight: bold;
}

/*
 *  These are for the cells like have borders or other decoration and show
 *  information assignment. The hidden column that only shows up on hover will
 *  not use this.
 */
.asnn-decorated-cell {
  border-bottom: solid 2px #cccccc;
}

.asnn-hover {
  background-color: #feffcc;
}

/* End Asnn Table Classes */


/* Start Sorting Bar Classes */

.sort-bar, .sort-item {
  display: inline;
}

/* Inline Editing */

.fl-inlineEdit-tooltip {
    position    : absolute;
    background  : #CCC;
    border      : 1px solid #999;
    font        : normal 75% sans-serif;
    padding     : 3px 5px;
}

/* :hover */
.fl-inlineEdit-invitation {
    border      : 1px solid #999;
    background  : lightyellow;
    cursor      : pointer;
    /*margin      : -1px;*/
}

/* Pager and Sorting Area */
.pager-sort-area {
  /* width: 90%; */
  /* text-align: center; */
  border: solid 2px #cccccc;
  margin: 0 5% 10px 5%;
}

/* Start Pager Classes */
.hidden {
    display: none;
}

.fl-pager-top, .fl-pager-bottom {
    /* padding: 0.5em; */
    /* background-color: #EEEEEE; */
    text-align: center;
}

.fl-pager-top li, .fl-pager-bottom li {
  display:inline;
}

.pager-links {
  display:inline;
}

.fl-pager-pageLink a,.fl-pager-previous a,.fl-pager-next a {
    color: #0099CC;
    font-size: .9em;
    text-decoration: none;
    border-bottom: solid .1em;
    margin: 0 .2em;
}

.fl-pager-previous,.fl-pager-next {
    padding: 0 1.3em 0 1em !important;
}

a.fl-pager-currentPage {
    color: #000000;
    border: 0;
    text-decoration: none;
}

.fl-pager-disabled a {
    color: #777777;
    border: 0;
    text-decoration: none;
}
/* End Fluid Pager Classes */
