/* Start Asnn Table Classes */

#asnn-list {
  width: 95%;
}

#asnn-list th {
  text-align: left;
}

/*
 *  These are for the cells like have borders or other decoration and show
 *  information assignment. The hidden column that only shows up on hover will
 *  not use this.
 */
.asnn-decorated-cell {
  border-bottom: solid 2px #cccccc;
}

.asnn-hover {
  background-color: #feffcc;
}

/* End Asnn Table Classes */


/* Start Sorting Bar Classes */

.sort-bar, .sort-item {
  display: inline;
}

/* End Sorting Bar Classes */


/* Start Pager Classes */
.hidden {
    display: none;
}

.fl-pager-top, .fl-pager-bottom {
    padding: 0.5em;
    background-color: #EEEEEE;
    text-align: center;
}

.fl-pager-top li, .fl-pager-bottom li {
  display:inline;
}

.pager-links {
  display:inline;
}

.fl-pager-pageLink a,.fl-pager-previous a,.fl-pager-next a {
    color: #0099CC;
    font-size: .9em;
    text-decoration: none;
    border-bottom: solid .1em;
    margin: 0 .2em;
}

.fl-pager-previous,.fl-pager-next {
    padding: 0 1.3em 0 1em !important;
}

a.fl-pager-currentPage {
    color: #000000;
    border: 0;
    text-decoration: none;
}

.fl-pager-disabled a {
    color: #777777;
    border: 0;
    text-decoration: none;
}
/* End Fluid Pager Classes */
