/* Start Asnn Table Classes */

/* The default settings on jQuery UI Dialog 1.7 cause the overlay to appear
 * under the regular body content and cause major resizing issues when coupled
 * with our Sakai-RSF DOM Page Resizer. Copying these style settings from the
 * older version.
 */
.ui-widget-overlay {
  border-width: 0pt;
  margin: 0pt;
  padding: 0pt;
  position: absolute;
  top: 0pt;
  left: 0pt;
/*  width: 1390px;
  height: 899px; */
  opacity: 0.50;
  filter:alpha(opacity=50);
  -moz-opacity: 0.50;
  background-color: rgb(238, 238, 238);
  /* z-index: 1001;*/
}

#asnn-list {
  width: 95%;
}

#asnn-list th {
  text-align: left;
}

.asnntitle {
  font-weight: bold;
  font-size: 1.2em;
}

.opendatelabel, .duedatelabel, .groupslabel, .sortbylabel {
  font-weight: bold;
}

.asnninfolist {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#pager-top, #pager-bottom {
  padding: 10px;
}

#page-list, #page-list-bottom {
  text-align: left;
  width: 20%;
  float: left;
  padding: 0;
  margin: 0;
}

#page-arrows, #page-arrows-bottom {
  text-align: center;
  padding: 0;
  margin: 0;
}

#page-size, #page-size-bottom {
  text-align: right;
  width: 20%;
  float: right;
  padding: 0;
  margin: 0;
}

/* Reordering */
/*
.fl-reorderer-movable-dragging {
  width: 50px;
  height: 50px;
  background-color: black;
  display: block;
}

.fl-reorderer-movable-avatar {
  display: block;
  width: 50px;
  height: 50px;
  background-color: black;
}
*/

/* This is to accomodate FLUID-2739 for the meanwhile.  We are making our own
 * simplified dragging avatar.
 */
.asnn-drag-avatar {
  width:70%;
  background-color: #eee;
  border: solid 1px #333333;
  opacity: 0.80;
  padding: 5px 0 0 30px;
}

/*
 *  These are for the cells like have borders or other decoration and show
 *  information assignment. The hidden column that only shows up on hover will
 *  not use this.
 */
.asnn-decorated-cell, .asnn-decorated-heading {
  border-bottom: solid 2px #cccccc;
  padding: 7px 0;
}

.asnn-decorated-heading {
  font-size: 1.2em;
}

.asnn-hover {
  background-color: #feffcc;
}

/* End Asnn Table Classes */


/* Start Sorting Bar Classes */

.sort-bar {
  margin: 0 0 0 2px;
  padding: 0;
}

.sort-bar, .sort-item {
  display: inline;
}

/* Inline Editing */

.fl-inlineEdit-tooltip {
    position    : absolute;
    background  : lightyellow;
    border      : 1px solid #999;
    font        : normal 80% sans-serif;
    padding     : 3px 5px;
}

/* :hover */
.fl-inlineEdit-invitation {
    border      : 1px solid #999;
    /* background  : lightyellow; */
    background  : #ccffed;
    cursor      : pointer;
    padding     : 1px 1px 0px 1px;
    margin      : 0px;
    /*margin      : -1px;*/
}

/* Pager and Sorting Area */
.pager-sort-area {
  /* width: 90%; */
  /* text-align: center; */
  border: solid 2px #cccccc;
  margin: 0 5% 10px 5%;
}

/* Start Pager Classes */
.hidden {
    display: none;
}

.fl-pager-top, .fl-pager-bottom {
    /* padding: 0.5em; */
    /* background-color: #EEEEEE; */
    text-align: center;
}

.fl-pager-top li, .fl-pager-bottom li {
  display:inline;
}

.pager-links {
  display:inline;
}

.fl-pager-pageLink a,.fl-pager-previous a,.fl-pager-next a {
    color: #0099CC;
    font-size: .9em;
    text-decoration: none;
    border-bottom: solid .1em;
    margin: 0 .2em;
}

.fl-pager-previous,.fl-pager-next {
    padding: 0 1.3em 0 1em !important;
}

a.fl-pager-currentPage {
    color: #000000;
    border: 0;
    text-decoration: none;
}

.fl-pager-disabled a {
    color: #777777;
    border: 0;
    text-decoration: none;
}
/* End Fluid Pager Classes */
