h3.submissionHeading {
    font-weight: normal;
    margin: 0;
    font-size: 1.2em;
}

.studentSubsection {
    margin: 10px;
}

.honorPledgeLabel {
    font-weight: bold;
    font-size: 95%;
}

.honorPledgeSection {
    margin-top: 10px;
}